<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="container">
          <div class="breadcrumbs">
              <a href="javascript:void(0)">Startseite</a>
              <span>404</span>
          </div>
      </div>
      <div class="nf">
          <div class="container">
              <div class="nf-title">
                  <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M25.9405 0.791285L29.7342 17.615L39.6508 3.50501L34.5243 19.9716L50.1673 12.7103L37.4944 24.4076L54.6723 25.9406L37.8486 29.7343L51.9585 39.6508L35.4919 34.5244L42.7533 50.1674L31.056 37.4944L29.523 54.6723L25.7293 37.8486L15.8127 51.9586L20.9392 35.492L5.2962 42.7533L17.9691 31.056L0.791235 29.523L17.6149 25.7293L3.50496 15.8128L19.9716 20.9392L12.7102 5.29625L24.4075 17.9692L25.9405 0.791285Z" fill="#CC950C"></path>
                  </svg>
                  <div>4<span>0</span>4</div>
              </div>
              <div class="nf-descr">Entschuldigung, die von Ihnen gesuchte Seite existiert nicht</div>
              <div class="nf-descr__sm">Wir können die Seite, die Sie suchen, nicht finden. Bitte überprüfen Sie die URL oder gehen Sie zur Hauptseite und ob Sie finden können, wonach Sie suchen.</div>
              <a href="" class="btn nf-back">ZUR STARTSEITE</a>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
