<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="page-top">
          <img src="../../images/reviews-bg.jpg" class="lazy" alt="">
          <img src="../../images/reviews-bg__mob.jpg" class="lazy" alt="">
          <div class="container">
              <div class="breadcrumbs">
                  <a href="javascript:void(0)">Startseite</a>
                  <span>Bloggen</span>
              </div>
              <div class="page-top__wrapper">
                  <span class="page-title">Bloggen</span>
              </div>
          </div>
      </div>
      <div class="blog-main">
          <div class="container">
              <div class="row blog-wrapper">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-01.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-02.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-03.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-01.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-02.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-03.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-01.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-02.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <a href="javascript:void(0)" class="blog-item">
                        <div class="blog-item__pic">
                            <img src="../../images/blog-03.jpg">
                        </div>
                        <div class="blog-item__info">
                            <span class="blog-item__date">23/09/19</span>
                            <span class="blog-item__title">Steven Lovatt Ballon-Hundeskulptur aus Edelstahl</span>
                            <div class="blog-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh porttitor, lacinia diam nt taciti sociosqu ad litora torquent per cont taciti ad litora torquent per cont taciti</div>
                            <div class="blog-item__more">
                                LESEN MEHR
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.14563 14.5195L9.29266 10.3725L5.14563 6.22546L6.06719 5.3039L11.1358 10.3725L6.06719 15.4411L5.14563 14.5195ZM9.75344 14.5195L13.9005 10.3725L9.75344 6.22546L10.675 5.3039L15.7436 10.3725L10.675 15.4411L9.75344 14.5195Z" fill="#464646"/>
                                </svg>
                            </div>
                        </div>
                      </a>
                  </div>
              </div>
              <div class="pagination">
                  <ul>
                      <li class="prev disabled">
                          <a href="javascript:void(0)">
                              <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M7 11L2 6L7 1" stroke="#464646" stroke-width="2"/>
                              </svg>
                          </a>
                      </li>
                      <li class="current">
                          <a href="javascript:void(0)">1</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">2</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">3</a>
                      </li>
                      <li class="more">
                          <a href="javascript:void(0)">...</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">10</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">11</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">12</a>
                      </li>
                      <li class="next">
                          <a href="javascript:void(0)">
                              <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M0.999999 1L6 6L1 11" stroke="#464646" stroke-width="2"/>
                              </svg>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}
</body>
</html>
