<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="container">
          <div class="breadcrumbs">
              <a href="javascript:void(0)">Startseite</a>
              <span>Warenkorb</span>
          </div>
      </div>
      <div class="cart-main">
          <div class="container">
              <div class="cart-main__title">
                  Warenkorb
                  <span>0 Artikel</span>
              </div>
              <a href="javascript:void(0)" class="cart-main__back">Mit dem Einkaufen fortfahren</a>
              <div class="cart-empty">
                  <div class="cart-empty__title">Your Shopping Cart is Empty</div>
              </div>
          </div>
      </div>
      <div class="section related-section">
          <div class="container">
              <div class="section-title">Sie könnten interessiert sein</div>
              <div class="row related-wrapper">
                  <div class="slider-nav related-nav">
                      <div class="slider-arrow slider-prev related-slider__prev1">
                          <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <line x1="19" y1="4" x2="2" y2="4" stroke="#CC950C"/>
                              <path d="M5.24537e-07 4L6 8L6 7.86805e-07L5.24537e-07 4Z" fill="#CC950C"/>
                          </svg>
                      </div>
                      <div class="slider-arrow slider-next related-slider__next1">
                          <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <line y1="4" x2="17" y2="4" stroke="#CC950C"/>
                              <path d="M19 4L13 -2.62268e-07L13 8L19 4Z" fill="#CC950C"/>
                          </svg>
                      </div>
                  </div>
                  <div class="related-slider slick-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true, "prevArrow": ".related-slider__prev1", "nextArrow": ".related-slider__next1", "dots": false, "infinite": false, "responsive":[{"breakpoint":991,"settings":{"slidesToShow": 3}}, {"breakpoint":574,"settings":{"slidesToShow": 2}}]}'>
                      <div class="slide">
                          <a href="javascript:void(0)" class="catalog-item">
                              <div class="catalog-item__pic">
                                  <img src="../../images/cat-item-01.jpg" class="lazy" alt="">
                              </div>
                              <div class="catalog-item__info">
                                  <span class="catalog-item__title">Sehr schöne Fortis B-42 Official Cosmonauts Automatic Nr. 190234 Automatic</span>
                                  <span class="catalog-item__price">3454.00 CHF</span>
                              </div>
                          </a>
                      </div>
                      <div class="slide">
                          <a href="javascript:void(0)" class="catalog-item">
                              <div class="catalog-item__pic">
                                  <img src="../../images/cat-item-02.jpg" class="lazy" alt="">
                              </div>
                              <div class="catalog-item__info">
                                  <span class="catalog-item__title">Schöner Anhänger aus 585/- Gelbgold Brillant Nr.184058 M2 neuwertig</span>
                                  <span class="catalog-item__price">3454.00 CHF</span>
                              </div>
                          </a>
                      </div>
                      <div class="slide">
                          <a href="javascript:void(0)" class="catalog-item">
                              <div class="catalog-item__pic">
                                  <img src="../../images/cat-item-03.jpg" class="lazy" alt="">
                              </div>
                              <div class="catalog-item__info">
                                  <span class="catalog-item__title">Sehr Schöner Ring aus 750/- Gelbgold mit Brillant Nr.0190 M1 neuwertig</span>
                                  <span class="catalog-item__price">3454.00 CHF</span>
                              </div>
                          </a>
                      </div>
                      <div class="slide">
                          <a href="javascript:void(0)" class="catalog-item">
                              <div class="catalog-item__pic">
                                  <img src="../../images/cat-item-04.jpg" class="lazy" alt="">
                              </div>
                              <div class="catalog-item__info">
                                  <span class="catalog-item__title">7 Schreibgeräte Nr. 193135</span>
                                  <span class="catalog-item__price">3454.00 CHF</span>
                              </div>
                          </a>
                      </div>
                      <div class="slide">
                          <a href="javascript:void(0)" class="catalog-item">
                              <div class="catalog-item__pic">
                                  <img src="../../images/cat-item-01.jpg" class="lazy" alt="">
                              </div>
                              <div class="catalog-item__info">
                                  <span class="catalog-item__title">Sehr schöne Fortis B-42 Official Cosmonauts Automatic Nr. 190234</span>
                                  <span class="catalog-item__price">3454.00 CHF</span>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
