<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  <header class="checkout-header">
      <div class="container">
          <div class="checkout-header__wrapper">
              <a href="javascript:void(0)" class="checkout-logo">
                  <img src="../../images/logo.png" class="lazy" alt="">
              </a>
              <a href="javascript:void(0)" class="checkout-back">
                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.5957 5.75448L11.2413 10.1089L15.5957 14.4632L14.6281 15.4309L9.30607 10.1089L14.6281 4.78684L15.5957 5.75448ZM10.7575 5.75448L6.40315 10.1089L10.7575 14.4632L9.78989 15.4309L4.46787 10.1089L9.78989 4.78684L10.7575 5.75448Z" fill="black"/>
                  </svg>
                  go back to shopping
              </a>
          </div>
      </div>
  </header>
  <main class="main">
      <div class="container">
          <div class="breadcrumbs">
              <a href="javascript:void(0)">Startseite</a>
              <span>Kasse</span>
          </div>
      </div>
      <div class="cart-main checkout-main">
          <div class="container">
              <div class="cart-main__title">
                  Kasse
              </div>
              <div class="row cart-main__wrapper">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <form class="checkout-form validate-form">
                          <div class="checkout-steps">
                              <div class="checkout-step step1">
                                  <div class="checkout-step__head">
                                      <i>1</i>
                                      <span>Deine Daten</span>
                                  </div>
                                  <div class="checkout-step__body active">
                                      <div class="checkout-form__fields">
                                          <div class="form-row two-inputs">
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="name">
                                                  <label>Name <span>*</span></label>
                                              </div>
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="vorname">
                                                  <label>Vorname <span>*</span></label>
                                              </div>
                                          </div>
                                          <div class="form-row two-inputs">
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="telefon">
                                                  <label>Telefon <span>*</span></label>
                                              </div>
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="email">
                                                  <label>E-mail <span>*</span></label>
                                              </div>
                                          </div>
                                          <button class="btn btn-next" disabled>weiter</button>
                                      </div>
                                  </div>
                                  <div class="checkout-step__summary">
                                      <div class="checkout-step__summary-wrapper">
                                          <span></span>
                                          <div class="checkout-step__edit step-edit">
                                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M12.6666 8.03064C12.298 8.03064 12 8.32935 12 8.69727V14.0306C12 14.3979 11.7013 14.6973 11.3334 14.6973H2C1.63196 14.6973 1.33337 14.3979 1.33337 14.0306V4.69727C1.33337 4.32996 1.63196 4.03064 2 4.03064H7.33337C7.70203 4.03064 8 3.73193 8 3.36401C8 2.99597 7.70203 2.69727 7.33337 2.69727H2C0.897339 2.69727 0 3.5946 0 4.69727V14.0306C0 15.1333 0.897339 16.0306 2 16.0306H11.3334C12.436 16.0306 13.3334 15.1333 13.3334 14.0306V8.69727C13.3334 8.32861 13.0353 8.03064 12.6666 8.03064Z" fill="#464646"/>
                                                  <path d="M6.25075 7.42334C6.20412 7.46997 6.17275 7.5293 6.15944 7.59326L5.68813 9.95068C5.66616 10.0599 5.70082 10.1726 5.77944 10.252C5.84279 10.3153 5.92812 10.3492 6.01552 10.3492C6.03676 10.3492 6.05886 10.3473 6.08083 10.3427L8.43752 9.87134C8.50283 9.85791 8.56215 9.82666 8.60817 9.77991L13.8828 4.50525L11.5261 2.14868L6.25075 7.42334Z" fill="#464646"/>
                                                  <path d="M15.5117 0.518768C14.8618 -0.131256 13.8044 -0.131256 13.155 0.518768L12.2324 1.44138L14.5891 3.79807L15.5117 2.87534C15.8264 2.56137 15.9998 2.14267 15.9998 1.69736C15.9998 1.25204 15.8264 0.833344 15.5117 0.518768Z" fill="#464646"/>
                                              </svg>
                                              Bearbeiten
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="checkout-step step2">
                                  <div class="checkout-step__head">
                                      <i>2</i>
                                      <span>Lieferung</span>
                                  </div>
                                  <div class="checkout-step__body">
                                      <div class="checkout-form__fields">
                                          <div class="form-row two-inputs">
                                              <div class="input-wrapper select-wrapper required-select">
                                                  <input name="land" hidden>
                                                  <select class="select">
                                                      <option selected disabled>Land</option>
                                                      <option value="Option1">Option1</option>
                                                      <option value="Option2">Option2</option>
                                                      <option value="Option3">Option4</option>
                                                  </select>
                                              </div>
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="adresszusatz">
                                                  <label>Adresszusatz <span>*</span></label>
                                              </div>
                                          </div>
                                          <div class="form-row two-inputs">
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="straße">
                                                  <label>Straße <span>*</span></label>
                                              </div>
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="hausnummer">
                                                  <label>Hausnummer <span>*</span></label>
                                              </div>
                                          </div>
                                          <div class="form-row two-inputs">
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="plz">
                                                  <label>PLZ <span>*</span></label>
                                              </div>
                                              <div class="input-wrapper">
                                                  <input class="input" type="text" name="ort">
                                                  <label>Ort <span>*</span></label>
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <label class="radio-label">Versandart</label>
                                              <div class="radio-wrapper">
                                                  <div>
                                                      <input type="radio" name="versandart" id="versandart1" value="Im Laden abholen">
                                                      <label for="versandart1">
                                                          <img src="../../images/icons/delivery-01.svg" alt="">
                                                          <span>Im Laden abholen</span>
                                                      </label>
                                                  </div>
                                                  <div>
                                                      <input type="radio" name="versandart" id="versandart2" value="Die Post">
                                                      <label for="versandart2">
                                                          <img src="../../images/icons/delivery-02.svg" alt="">
                                                          <span>Die Post</span>
                                                      </label>
                                                  </div>
                                                  <div>
                                                      <input type="radio" name="versandart" id="versandart3" value="UPS Express">
                                                      <label for="versandart3">
                                                          <img src="../../images/icons/delivery-03.svg" alt="">
                                                          <span>UPS Express</span>
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn btn-next" disabled>weiter</button>
                                      </div>
                                  </div>
                                  <div class="checkout-step__summary">
                                      <div class="checkout-step__summary-wrapper">
                                          <span></span>
                                          <div class="checkout-step__edit step-edit">
                                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M12.6666 8.03064C12.298 8.03064 12 8.32935 12 8.69727V14.0306C12 14.3979 11.7013 14.6973 11.3334 14.6973H2C1.63196 14.6973 1.33337 14.3979 1.33337 14.0306V4.69727C1.33337 4.32996 1.63196 4.03064 2 4.03064H7.33337C7.70203 4.03064 8 3.73193 8 3.36401C8 2.99597 7.70203 2.69727 7.33337 2.69727H2C0.897339 2.69727 0 3.5946 0 4.69727V14.0306C0 15.1333 0.897339 16.0306 2 16.0306H11.3334C12.436 16.0306 13.3334 15.1333 13.3334 14.0306V8.69727C13.3334 8.32861 13.0353 8.03064 12.6666 8.03064Z" fill="#464646"/>
                                                  <path d="M6.25075 7.42334C6.20412 7.46997 6.17275 7.5293 6.15944 7.59326L5.68813 9.95068C5.66616 10.0599 5.70082 10.1726 5.77944 10.252C5.84279 10.3153 5.92812 10.3492 6.01552 10.3492C6.03676 10.3492 6.05886 10.3473 6.08083 10.3427L8.43752 9.87134C8.50283 9.85791 8.56215 9.82666 8.60817 9.77991L13.8828 4.50525L11.5261 2.14868L6.25075 7.42334Z" fill="#464646"/>
                                                  <path d="M15.5117 0.518768C14.8618 -0.131256 13.8044 -0.131256 13.155 0.518768L12.2324 1.44138L14.5891 3.79807L15.5117 2.87534C15.8264 2.56137 15.9998 2.14267 15.9998 1.69736C15.9998 1.25204 15.8264 0.833344 15.5117 0.518768Z" fill="#464646"/>
                                              </svg>
                                              Bearbeiten
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="checkout-step step3">
                                  <div class="checkout-step__head">
                                      <i>3</i>
                                      <span>RECHNUNG</span>
                                  </div>
                                  <div class="checkout-step__body">
                                      <div class="checkout-form__fields">
                                          <div class="form-row">
                                              <div class="radio-wrapper">
                                                  <div>
                                                      <input type="radio" name="rechnung" id="rechnung1" value="Vorkasse durch Überweisung">
                                                      <label for="rechnung1">
                                                          <img src="../../images/icons/payment-01.svg" alt="">
                                                          <span>Vorkasse durch Überweisung</span>
                                                      </label>
                                                  </div>
                                                  <div>
                                                      <input type="radio" name="rechnung" id="rechnung2" value="Twint">
                                                      <label for="rechnung2">
                                                          <img src="../../images/icons/payment-02.svg" alt="">
                                                          <span>Twint</span>
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn" type="submit" disabled>Zahlen</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12 cart-main__info-wrapper">
                      <div class="cart-main__info">
                          <div class="cart-main__inner">
                              <span class="cart-main__info-title">Bestellübersicht</span>
                              <span class="cart-main__info-id">2 Artikel</span>
                              <div class="cart-main__info-prices">
                                  <div>
                                      <span>Zwischensumme</span>
                                      <span>349.00 CHF</span>
                                  </div>
                                  <div>
                                      <span>Versand</span>
                                      <span>Согласно тарифам перевозчика</span>
                                  </div>
                              </div>
                              <div class="cart-main__info-totals">
                                  <span>Summe</span>
                                  <div>
                                      3454.00 CHF
                                      <span>(Inkl. MwSt.)</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="cart-main__items">
                          <div class="cart-main__item-wrapper">
                              <a href="javascript:void(0)" class="cart-main__item">
                                  <div class="cart-main__item-pic">
                                      <img src="../../images/cat-item-01.jpg" alt="">
                                  </div>
                                  <div class="cart-main__item-info">
                                      <div class="cart-main__item-id">Herstellerkürzel: <span>3284</span></div>
                                      <span class="cart-main__item-title">Schöner Herz- Anhänger aus 585/- Weißgold mit Diamanten Nr.183823 neuwertig</span>
                                      <div class="cart-main__item-price">3454.00 CHF</div>
                                  </div>
                              </a>
                          </div>
                          <div class="cart-main__item-wrapper">
                              <a href="javascript:void(0)" class="cart-main__item">
                                  <div class="cart-main__item-pic">
                                      <img src="../../images/cat-item-02.jpg" alt="">
                                  </div>
                                  <div class="cart-main__item-info">
                                      <div class="cart-main__item-id">Herstellerkürzel: <span>3284</span></div>
                                      <span class="cart-main__item-title">Schöner Herz- Anhänger aus 585/- Weißgold mit Diamanten Nr.183823 neuwertig</span>
                                      <div class="cart-main__item-price">3454.00 CHF</div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
