<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Schweizer Edelmetallhandel</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#CC950C">
    <meta name="msapplication-navbutton-color" content="#CC950C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
${require('../parts/header.html')}
<main class="main">
    <div class="container">
        <span class="page__title">Impressum</span>
    </div>
    <div class="impresum">
        <div class="impresum-info">
            <div class="impresum-info__inner">
                <h2>Angaben gemaäss § 5 TM</h2>
                <p>
                    <span>Säntinox AG</span>
                    <span>Alte Haslenstrasse 10</span>
                    <span>9053 Teufen</span>
                </p>
                <p>
                    <b>Vertreten durch:</b>
                    <span>Natalie Bott</span>
                </p>
                <p>
                    <b>Vorsitzender des Aufsichtsrats:</b>
                    <span>Natalie Bott</span>
                </p>
                <h2>Kontakt</h2>
                <span>Telefon: <a href="tel:+490715434294">071-543 42 94</a></span>
                <span>E-Mail: <a href="mailto:Info@schweizer-edellmetallhandel.ch">Info@schweizer-edellmetallhandel
                    .ch</a></span>
                <h2>Umsatzsteuer-ID</h2>
                <span>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:</span>
                <span>CHE 286.436.993</span>
                <h2>Berufsbezeichnung und berufsrechtliche regelungen</h2>
                <span>Berufsbezeichnung: Edelmetallhandel</span>
                <h2>Redaktionell Verantwortlich</h2>
                <span>Heinrich Bott</span>
                <h2>Verbraucherstreitbeilegung / universalschlichtungsstelle</h2>
                <span>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</span>
            </div>
        </div>
        <div class="impresum-links">
            <div class="impresum-links__inner">
                <sppan>SEITEN</sppan>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Ankauf</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Anlagegold</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Datenschutz</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Diamanten</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Impressum</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Kontakt</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Luxusuhren</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Münzen</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Schmuck</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Startseite</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Startseite</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Über uns</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Versandtasche</a>
                    </li>
                </ul>
                <span>KATEGORIEN</span>
                <span>Keine Kategorien</span>
                <span>ARCHIV</span>
            </div>
        </div>
    </div>
</main>
<!--${require('../parts/footer.html')}-->

</body>

</html>
