<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="section investment-section">
          <div class="container">
              <div class="investment-title">Anlagegold</div>
              <div class="investment-wrapper">
                  <div class="investment-main">
                      <div class="investment-head">
                          <div class="investment-left">
                              <div class="img"></div>
                              <div class="investment-mid">
                                  <div class="bar">BARREN</div>
                                  <div class="gold">GOLDPREIS</div>
                                  <div class="facon">FACONKOSTEN</div>
                                  <div class="price">BARRENPREIS</div>
                              </div>
                          </div>
                          <div class="investment-right"></div>
                      </div>
                      <div class="investment-body">
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/1g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>55,94 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>15,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>70,94 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/5g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">5 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>279,68 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>18,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>298,18 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/10g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">10 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>559,36 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>21,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>580,86 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/20g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">20 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>1.118,71 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>22,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>1.140,71 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/50g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">50 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>2.796,78 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>23,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>2.819,78 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/100g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">100 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>5.593,55 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>35,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>5.628,55 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/250g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">250 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>13.983,88 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>50,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>14.033,88 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/500g.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">500 g. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>27.967,75 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>66,50 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>28.034,25 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                          <div class="investment-item">
                              <div class="investment-left">
                                  <div class="img">
                                      <img src="../../images/1kg.png" class="lazy" alt="">
                                  </div>
                                  <div class="investment-mid">
                                      <div class="bar">1 kg. Heraeus Goldbarren</div>
                                      <div class="gold">
                                          <span>GOLDPREIS</span>
                                          <span>55.935,50 CHF</span>
                                      </div>
                                      <div class="facon">
                                          <span>FACONKOSTEN</span>
                                          <span>100,00 CHF</span>
                                      </div>
                                      <div class="price">
                                          <span>BARRENPREIS</span>
                                          <span>56.035,50 CHF</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="investment-right">
                                  <span class="btn btn-tr popup-btn" data-mfp-src="#investment-popup">Anfrage senden</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="investment-chart">
                      <a href="javascript:void(0)" class="calc-right__chart-wrap" rel="nofollow" target="_blank">
                          <img src="../../images/chart.jpg" class="lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
