<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex">
    <title>Schweizer Edelmetallhandel</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#CC950C">
    <meta name="msapplication-navbutton-color" content="#CC950C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
${require('../parts/header.html')}
<main class="main">
    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-pic">
                        <div class="product-pic__main slick-slider lightgallery"
                             data-slick='{ "asNavFor": ".product-pic__small", "slidesToShow": 1, "slidesToScroll": 1,"arrows": true, "dots": false, "infinite": true, "responsive": [{ "breakpoint":767, "settings": {"dots": true} }] }'>
                            <div class="slide" data-src="../../images/product-main__small2.png">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small2.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small2.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small2.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide" data-src="../../images/product-main__small2.png">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small2.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small2.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small2.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide" data-src="../../images/product-main__small1.png">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small1.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small1.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small1.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide" data-src="../../images/product-main__small1.png">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__pic1.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__pic1.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__pic1.png" class="lazy" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="product-pic__small slick-slider"
                             data-slick='{ "asNavFor": ".product-pic__main", "focusOnSelect": true, "variableWidth": true, "slidesToShow": 3, "slidesToScroll": 1,"arrows": true, "dots": false, "infinite": true, "responsive": [{ "breakpoint":767, "settings": {"dots": true} }] }'>
                            <div class="slide">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small1.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small1.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small1.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small2.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small2.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small2.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small1.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small1.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small1.png" class="lazy" alt="">
                                </picture>
                            </div>
                            <div class="slide">
                                <picture>
                                    <source srcset="../../images/pixel.webp"
                                            data-original="../../images/product-main__small2.webp" class="lazy-web"
                                            type="image/webp">
                                    <source srcset="../../images/pixel.png"
                                            data-original="../../images/product-main__small2.png" class="lazy-web"
                                            type="image/png">
                                    <img src="../../images/pixel.png"
                                         data-original="../../images/product-main__small2.png" class="lazy" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-about">
                        <div class="product-about__top">
                            <span class="product-about__top-title">
                                Sehr schöne Cartier Ballon Bleu Nr. 185852 UH neuwertig TOP AUFTEGEN
                            </span>
                            <div class="product-about__top-list">
                                <div>
                                    <span>Herstellerkürzel: </span>
                                    <span>3284</span>
                                </div>
                                <div>
                                    <span>Artikelzustand: </span>
                                    <span>Gebraucht</span>
                                </div>
                                <span>
                                    <svg width="44" height="9" viewBox="0 0 44 9" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                     <line x1="35" y1="4.5" x2="-1.58131e-08" y2="4.5" stroke="#CC950C"/>
                                     <path
                                         d="M38.7548 8.5C36.5565 8.5 34.7713 6.71087 34.7713 4.5C34.7713 2.28913 36.5565 0.5 38.7548 0.5C40.9531 0.5 42.7383 2.28913 42.7383 4.5C42.7383 6.71087 40.9531 8.5 38.7548 8.5Z"
                                         stroke="#CC950C"/>
                                     </svg>
                                   Auf Lager
                                </span>
                            </div>
                            <div class="product-about__top-buy">
                                <span>19900.00 CHF</span>
                                <div>
                                    <a href="javascript:void(0)" class="popup-btn btn btn-tr">Buy at 1 click</a>
                                    <a href="javascript:void(0)" class="popup-btn btn">In den Warenkorb</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-about__details">
                            <div>
                                <div class="product-about__details-header active">
                                    <span>Über das Produkt</span>
                                    <i>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <rect y="9" width="20" height="2" fill="#CC950C"/>
                                            <rect x="11" width="20" height="2" transform="rotate(90 11 0)"
                                                  fill="#CC950C"/>
                                        </svg>

                                    </i>
                                </div>
                                <div class="product-about__details-body active">
                                    dfgdfgdfgdf
                                </div>
                            </div>
                        </div>
                        <div class="product-about__details">
                            <div>
                                <div class="product-about__details-header">
                                    <span>Über das Produkt</span>
                                    <i>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <rect y="9" width="20" height="2" fill="#CC950C"/>
                                            <rect x="11" width="20" height="2" transform="rotate(90 11 0)"
                                                  fill="#CC950C"/>
                                        </svg>

                                    </i>
                                </div>
                                <div class="product-about__details-body">
                                    dfgdfgdfgdf
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
</main>
${require('../parts/footer.html')}

</body>

</html>
