<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Schweizer Edelmetallhandel</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#CC950C">
    <meta name="msapplication-navbutton-color" content="#CC950C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
${require('../parts/header.html')}
<main class="main">
    <div class="shipping">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="shipping-about">
                        <span class="page__title page__title--shipping">Gold  per post versenden – einfach versandtasche
                            anfordern</span>
                        <div class="shipping-about__text">
                            <p>Sie können uns Ihre Wertsachen ganz einfach und unkompliziert per Post schicken. Wir
                                kaufen Ihre Edelmetalle: Schmuck, Diamanten, Luxusuhren oder Münzen zu Bestpreisen. Wenn
                                Sie beschließen, sich von Ihren Wertgegenständen zu trennen, sind wir Ihr zuverlässiger
                                Ansprechpartner für den Edelmetallverkauf in der Schweiz.</p>
                            <span>Versandtasche anfordern und Gold per Post senden</span>
                            <p>Füllen Sie zuerst das Formular auf unserer Website aus. Sie erhalten dann von uns per
                                Post Ihre Versandtasche und ein Begleitschreiben, auf dem alle folgenden Schritte noch
                                einmal aufgeführt sind. Als nächstes schicken Sie uns Ihre Wertsachen in der dafür
                                vorgesehenen Versandtasche, sowie das ausgefüllte Begleitschreiben zu. Dies geschieht
                                für Sie versandkostenfrei.</p>
                            <p>Sobald uns die Versandtasche erreicht, erfolgt innerhalb von 48 Stunden eine Wertprüfung.
                                Sie bekommen von uns eine Schätzung mit einem kurzen Video zugeschickt. Nehmen Sie diese
                                an, überweisen wir Ihnen den vereinbarten Betrag auf ein Konto ihrer Wahl. Wenn nicht,
                                erhalten Sie Ihre Wertsachen kostenfrei und versichert zurück.</p>
                            <span>Online Goldankauf sicher und zuverlässig</span>
                            <p>Um den Ablauf so sicher wie möglich zu gestalten, haben wir einige Vorkehrungen
                                getroffen. Dazu gehört natürlich der versicherte Versand Ihrer Wertgegenstände.
                                Übersteigt Ihre Sendung den Versicherungswert von 1.500 CHF, kontaktieren Sie uns gerne
                                – dann können wir den Versicherungswert selbstverständlich erhöhen.</p>
                            <p>Des Weiteren nutzen wir einen neutralen Firmennamen für den Versand, damit der Inhalt der
                                Versandtasche nicht auf den ersten Blick ersichtlich ist.</p>
                            <p>Unsere Wertprüfung erfolgt videoüberwacht. So stellen wir sicher, dass alles
                                ordnungsgemäß vonstattengeht.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="shipping-send">
                        <div class="shipping-send__form product-shipping__form">
                            <div class="order-form">
                                <span class="order-form__title">Bestellen Sie jetzt Ihre Versandtasche</span>
                                <span class="order-form__subtitle">Einfach und verlässlich</span>
                                <form class="main-form ajax_form clear-styles" data-error-title="Fehler senden!"
                                      data-error-message="Versuchen Sie es nach einer Weile erneut."
                                      data-success-title="Danke für die Nachricht."
                                      data-success-message="Unser Manager wird sich bald mit Ihnen in Verbindung setzen.">
                                    <div class="form-row two-inputs lg">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="name" data-title="Name"
                                                   data-validate-required="Erforderlich!">
                                            <label>Name <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="vorname" data-title="Vorname"
                                                   data-validate-required="Erforderlich!">
                                            <label>Vorname <span>*</span></label>
                                        </div>
                                    </div>
                                    <div class="form-row two-inputs sm">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="strasse" data-title="Strasse"
                                                   data-validate-required="Erforderlich!">
                                            <label>Strasse <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="nr" data-title="Nr."
                                                   data-validate-required="Erforderlich!">
                                            <label>Nr.<span>*</span></label>
                                        </div>
                                    </div>
                                    <div class="form-row three-inputs">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="plz" data-title="PLZ"
                                                   data-validate-required="Erforderlich!">
                                            <label>PLZ <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="stadt" data-title="Stadt"
                                                   data-validate-required="Erforderlich!">
                                            <label>Stadt <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="telefon" data-title="Telefon">
                                            <label>Telefon</label>
                                        </div>
                                    </div>
                                    <div class="form-row two-inputs lg">
                                        <div class="input-wrapper">
                                            <input class="input" type="text" name="email" data-title="E-mail"
                                                   data-validate-required="Erforderlich!">
                                            <label>E-mail <span>*</span></label>
                                        </div>
                                        <div class="input-wrapper select-wrapper required-select">
                                            <input name="boxgrösse" data-title="Boxgrösse"
                                                   data-validate-required="Erforderlich!" hidden>
                                            <select class="select">
                                                <option selected disabled>Boxgrösse</option>
                                                <option value="bis 2kg">bis 2kg</option>
                                                <option value="bis 10kg">bis 10kg</option>
                                                <option value="bis 30kg">bis 30kg</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="input-wrapper">
                                            <textarea class="textarea" name="anmerkungen" data-title="Anmerkungen"
                                                      placeholder="Anmerkungen"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-footer">
                                        <div class="checkbox-wrapper">
                                            <input type="checkbox" id="agreement02" name="agreement"
                                                   data-title="Agreement" value="">
                                            <label for="agreement02">Hiermit akzeptiere ich die Verarbeitung meiner
                                                Daten im Sinne der <a
                                                    href="javascript:void(0)">Datenschutzerklärung.</a></label>
                                        </div>
                                        <button type="submit" class="btn" data-sending="Senden..."
                                                data-error="Fehler :(" data-sent="Gesendet" disabled>Versandtasche
                                            bestellen
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="shipping-send__cards">
                            <span class="shipping-send__cards-title">Gold per post versenden</span>
                            <span class="shipping-send__cards-subtitle">So gelingt der Online Goldankauf</span>
                            <div class="shipping-card-items">
                                <div class="shipping-card-item">
                                    <span class="shipping-card-item__num">1.</span>
                                    <p class="shipping-card-item__text">
                                        Einfach das Formular ausfüllen und Versandtasche + <span>Begleitschreiben</span>
                                        erhalten
                                    </p>
                                    <div class="shipping-card-item__pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/card-01.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/card-01.png" class="lazy-web"
                                                    type="image/png">
                                            <img src="../../images/pixel.png" data-original="../../images/card-01.png"
                                                 class="lazy" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="shipping-card-item">
                                    <span class="shipping-card-item__num">2.</span>
                                    <p class="shipping-card-item__text">
                                        Wertgegenstände + <span>Begleitschreiben</span> kostenfrei versenden
                                    </p>
                                    <div class="shipping-card-item__pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/card-02.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/card-02.png" class="lazy-web"
                                                    type="image/png">
                                            <img src="../../images/pixel.png"
                                                 data-original="../../images/card-02.png" class="lazy" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="shipping-card-item">
                                    <span class="shipping-card-item__num">3.</span>
                                    <p class="shipping-card-item__text">
                                        Zu Ihrer Sicherheit: Videoüberwachte Wertprüfung
                                    </p>
                                    <div class="shipping-card-item__pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/card-03.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/card-03.png" class="lazy-web"
                                                    type="image/png">
                                            <img src="../../images/pixel.png"
                                                 data-original="../../images/card-03.png" class="lazy" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="shipping-card-item">
                                    <span class="shipping-card-item__num">4.</span>
                                    <p class="shipping-card-item__text">Schätzung annehmen und Geld erhalten</p>
                                    <div class="shipping-card-item__pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/card-04.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/card-04.png" class="lazy-web"
                                                    type="image/png">
                                            <img src="../../images/pixel.png"
                                                 data-original="../../images/card-04.png" class="lazy" alt="">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="shipping-send__btn btn" href="javascript:void(0)">Begleitschreiben zum Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section calc-section calc-section--shipping">
        <div class="container">
            <div class="row calc-wrap">
                <div class="col-md-6">
                    <div class="calc-left">
                        <span class="calc-left__title">Ankaufs-Rechner</span>
                        <span class="calc-left__date">Ankaufspreise Stand: 12.06.2022 16:55</span>
                        <span class="calc-left__descr">Geben Sie einfach in die Tabelle die Gewichte Ihrer Edelmetalle ein und Ihr Gesamtankaufswert wird automatisch berechnet.</span>
                        <div class="row calc-main__wrapper">
                            <div class="col-sm-6 col-xs-12">
                                <div class="calc-main calc-main__left">
                                    <div class="calc-main__head">
                                        Gold Je gr
                                    </div>
                                    <div class="calc-main__row">
                                        <span>999er Feingold handelsfähig</span>
                                        <span>57.32 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>999er Feingold</span>
                                        <span>55.82 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>916er Gold</span>
                                        <span>51.13 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>900er Gold</span>
                                        <span>50.24 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>750er Gold</span>
                                        <span>41.87 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>585er Gold</span>
                                        <span>32.66 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>333er Gold</span>
                                        <span>18.59 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light last">
                                        <span>Zahngold (ohne Zahnreste)</span>
                                        <span>31.62 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="calc-main calc-main__right">
                                    <div class="calc-main__head">
                                        Silber Je gr
                                    </div>
                                    <div class="calc-main__row">
                                        <span>999er Feinsilber gestempelt</span>
                                        <span>0.70 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>925er silber</span>
                                        <span>0.58 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row">
                                        <span>800er silber</span>
                                        <span>0.51 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row dark">
                                        Versilbert Je kg
                                    </div>
                                    <div class="calc-main__row">
                                        <span>Versilbert 90/100...</span>
                                        <span>21.70 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row light">
                                        <span>Versilberte Messer</span>
                                        <span>4.38 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row medium">
                                        <span>ZINN (zinngeschirr) je kg</span>
                                        <span>7.25 CHF</span>
                                        <span>
                                            <input type="text" oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        </span>
                                    </div>
                                    <div class="calc-main__row bot">
                                        Wir kaufen auch Platin und Palladium
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="calc-main__bot">
                                    <div class="calc-main__footnote">
                                        <div>Kommen Sie gerne <span>mit termin</span> im Ladengeschäft vorbei.</div>
                                    </div>
                                    <div class="calc-main__footer">
                                        <span>Ihr Erlös:</span>
                                        <div>
                                            <span class="calc-main__total">0.00</span> CHF
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="marquee marquee--shipping-mob">
                        <div>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                            <div>Keine Gebühren. Keine Abzüge.</div>
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="calc-right">
                        <div class="row calc-right__wrap">
                            <div class="col-sm-6 col-xs-12">
                                <div class="calc-right__title-wrap">
                                    <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M25.9405 0.790797L29.7342 17.6145L39.6508 3.50452L34.5243 19.9711L50.1673 12.7098L37.4944 24.4071L54.6723 25.9401L37.8486 29.7338L51.9585 39.6503L35.4919 34.5239L42.7533 50.1669L31.056 37.494L29.523 54.6718L25.7293 37.8481L15.8127 51.9581L20.9392 35.4915L5.2962 42.7528L17.9691 31.0555L0.791235 29.5225L17.6149 25.7289L3.50496 15.8123L19.9716 20.9387L12.7102 5.29576L24.4075 17.9687L25.9405 0.790797Z" fill="#CC950C"/>
                                    </svg>
                                    <div>Uhren Ankauf</div>
                                    <span>Machen Sie Ihre Luxusuhren schnell zu Geld.</span>
                                </div>
                                <div class="calc-right__watch-wrap">
                                    <img src="../../images/watch.png" class="lazy" alt="">
                                    <span>Wir kaufen auch reparaturreife Uhren</span>
                                    <a href="javascript:void(0)" class="btn btn-tr">mehr erfahren</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <a href="javascript:void(0)" class="calc-right__chart-wrap" rel="nofollow" target="_blank">

                                </a>
                                <div class="calc-right__contact-wrap">
                                    <div>Unser Team freut sich auf Ihre Kontaktaufnahme</div>
                                    <span>Sie können Ihre Wertgegenstände persönlich vorbeibringen oder per Post zusenden</span>
                                    <a href="javascript:void(0)" class="btn">Kontakt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marquee marquee--shipping">
        <div>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
            <div>Keine Gebühren. Keine Abzüge.</div>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6369 0.960323L16.8389 10.7252L22.5947 2.53544L19.6192 12.0931L28.6988 7.87841L21.3431 14.6678L31.3136 15.5576L21.5487 17.7595L29.7384 23.5153L20.1808 20.5399L24.3955 29.6194L17.6061 22.2637L16.7163 32.2342L14.5143 22.4693L8.75853 30.6591L11.734 21.1015L2.65447 25.3161L10.0101 18.5267L0.0396767 17.6369L9.80457 15.435L1.61479 9.67918L11.1724 12.6547L6.95776 3.57511L13.7472 10.9308L14.6369 0.960323Z" fill="#CC950C"/>
            </svg>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

</body>

</html>
