<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Schweizer Edelmetallhandel</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#CC950C">
  <meta name="msapplication-navbutton-color" content="#CC950C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#CC950C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
      <div class="container">
          <div class="breadcrumbs">
              <a href="javascript:void(0)">Startseite</a>
              <span>Danke </span>
          </div>
      </div>
      <div class="thx">
          <div class="container">
              <div class="row thx-wrapper">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="thx-title">Danke für Ihre Bestellung</div>
                      <div class="thx-order">Lorem ipsum dolor sit ame <span>№95803984539</span></div>
                      <div class="thx-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis penatibus quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing laoreet eros, ac</div>
                      <a href="" class="btn thx-back">zurück in den Laden</a>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <img src="../../images/thx.jpg" class="thx-pic" alt="">
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
