.review-section{
  padding-top: 110px;
  padding-bottom: 100px;
  margin-bottom: 70px;
  background: #FAF6ED;
}

.reviews-title{
  position: relative;
  width: 528px;
  height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%/50%;
  border: 1px solid $main;
  margin: 0 auto 94px;
  >svg{
    position: absolute;
    right: 118px;
    top: -21px;
  }
  .section-title{
    margin-bottom: 8px;
    &:before{
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 38px);
    }
    &:after{
      position: absolute;
      content: '';
      width: 1px;
      height: 65px;
      background-color: $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 47px);
    }
  }
  >a{
    font-size: 16px;
    line-height: 120%;
    color: $text;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &:hover{
      color: $main;
      >svg{
        path{
          fill: $main;
        }
      }
    }
    >svg{
      margin-left: 1px;
      position: relative;
      top: -1px;
    }
  }
}

.reviews-slider__wrapper{
  position: relative;
  .slider-nav{
    display: flex;
    position: absolute;
    right: 10px;
    bottom: calc(100% + 45px);
    .slider-arrow{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid $main;
      transition: linear .2s;
      &:hover{
        background-color: $main;
        svg{
          line{
            stroke: #fff;
          }
          path{
            fill: #fff;
          }
        }
      }
      &.slick-disabled{
        opacity: .5;
        pointer-events: none;
      }
      &.slick-hidden{
        display: none;
      }
      +.slider-arrow{
        margin-left: 20px;
      }
    }
  }
}

.reviews-slider{
  .slide{
    padding: 0 10px;
  }
}

.reviews-item{
  border: 1px solid $main;
  border-radius: 3px;
  padding: 30px 25px 25px 40px;
}

.reviews-item__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.reviews-item__date{
  font-size: 16px;
  line-height: 140%;
  color: $text;
}

.rating-stars{
  display: flex;
}

.rating-star{
  display: flex;
  margin-right: 8px;
  &.active{
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.reviews-item__text{
  min-height: 102px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 150%;
  color: $text;
}

.reviews-item__author{
  display: flex;
  justify-content: flex-end;
  font-family: $title;
  font-size: 16px;
  line-height: 140%;
  color: $text;
}

.reviews-btn{
  width: 260px;
  margin: 40px auto 0;
}
