.categories-section{
  background: #F9F9F9;
  padding-top: 92px;
  padding-bottom: 105px;
  margin-bottom: 50px;
  @include bp(xs) {
    padding-top: 50px;
    padding-bottom: 24px;
  }
}

.categories-section__title{
  position: relative;
  width: 528px;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%/50%;
  border: 1px solid $main;
  margin: 0 auto 94px;
  @include bp(xs) {
    max-width: 100%;
    height: 104px;
    margin-bottom: 30px;
  }
  >svg{
    position: absolute;
    right: 118px;
    top: -21px;
    @include bp(xs) {
      top: 11px;
      right: 13px;
      width: 25px;
      height: 25px;
    }
  }
  .section-title{
    &:before{
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 28px);
      @include bp(xs) {
        top: calc(100% + 15px);
      }
    }
    &:after{
      position: absolute;
      content: '';
      width: 1px;
      height: 65px;
      background-color: $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 37px);
      @include bp(xs) {
        top: calc(100% + 24px);
        height: 30px;
      }
    }
  }
}

.categories-slider__wrapper{
  margin: 0 -10px;
  position: relative;
  @include bp(sm) {
    margin: 0 -7px;
  }
  @include bp(xs) {
    margin: 0 -5px;
  }
  .slider-nav{
    display: flex;
    position: absolute;
    right: 10px;
    bottom: calc(100% + 45px);
    @include bp(sm) {
      bottom: calc(100% + 30px);
    }
    @include bp(xs) {
      display: none;
    }
    .slider-arrow{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid $main;
      transition: linear .2s;
      @include bp(sm) {
        width: 35px;
        height: 35px;
      }
      &:hover{
        background-color: $main;
        svg{
          line{
            stroke: #fff;
          }
          path{
            fill: #fff;
          }
        }
      }
      &.slick-disabled{
        opacity: .5;
        pointer-events: none;
      }
      &.slick-hidden{
        display: none;
      }
      +.slider-arrow{
        margin-left: 20px;
        @include bp(sm) {
          margin-left: 15px;
        }
      }
      svg{
        @include bp(sm) {
          width: 16px;
          height: 8px;
        }
      }
    }
  }
}

.categories-slider{
  @include bp(xs) {
    display: flex;
    flex-wrap: wrap;
  }
  .slide{
    padding: 0 10px;
    @include bp(sm) {
      padding: 0 7px;
    }
    @include bp(xs) {
      width: 33.33333%;
      padding: 0 5px;
    }
  }
}

.categories-slider__item{
  display: block;
  text-decoration: none;
  @include bp(xs) {
    margin-bottom: 15px;
  }
  &:hover{
    text-decoration: none;
    .categories-slider__pic{
      opacity: .8;
    }
    .categories-slider__title{
      color: $main;
    }
  }
}

.categories-slider__pic{
  width: 100%;
  height: 120px;
  border-radius: 3px;
  overflow: hidden;
  transition: linear .2s;
  @include bp(xxxl) {
    height: calc(8.6vw - 30px);
  }
  @include bp(xxl) {
    height: calc(10.4vw - 32px);
  }
  @include bp(lg) {
    height: calc(13.2vw - 35px);
  }
  @include bp(lg) {
    height: calc(17.5vw - 37px);
  }
  @include bp(sm) {
    height: calc(20vw - 17px);
  }
  @include bp(xs) {
    height: calc(33.3vw - 16.7px);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categories-slider__title{
  display: block;
  font-size: 16px;
  line-height: 140%;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  @include bp(md) {
    font-size: 14px;
    padding: 10px 0;
  }
  @include bp(xs) {
    font-size: 12px;
    padding: 5px 0;
  }
}
