.contacts-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 56px;
  @include bp(xs) {
    padding-bottom: 50px;
  }
}

.contacts-col{
  position: relative;
  padding-top: 100px;
  @include bp(md) {
    padding-top: 160px;
  }
  @include bp(xs) {
    padding-top: 113px;
  }
  &:before{
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $main;
    left: 50%;
    transform: translateX(-50%);
    top: 37px;
    @include bp(md) {
      top: 105px;
    }
    @include bp(xs) {
      top: 79px;
    }
  }
  &:after{
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 65px;
    background-color: $main;
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
    @include bp(md) {
      top: 40px;
    }
    @include bp(xs) {
      top: 50px;
      height: 30px;
    }
  }
  .main-form{
    .form-row{
      &.two-inputs{
        .input-wrapper{
          width: calc(50% - 7px);
          @include bp(xs) {
            width: calc(50% - 5px);
          }
        }
      }
    }
    .input-wrapper{
      .input{
        height: 50px;
        @include bp(xs) {
          height: 35px;
        }
      }
      .textarea{
        height: 140px;
        @include bp(xs) {
          height: 76px;
        }
      }
    }
    .form-footer{
      @include bp(xs) {
        margin-top: 17px;
      }
    }
    .checkbox-wrapper{
      max-width: 320px;
    }
  }
}

.contacts-col__title{
  margin-bottom: 24px;
  text-align: center;
  @include bp(xs) {
    margin-bottom: 25px;
  }
  i{
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $main;
    margin: 0 auto 24px;
    @include bp(xs) {
      width: 55px;
      height: 55px;
      margin-bottom: 10px;
    }
  }
}

.contacts-map__wrapper{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 410px;
  iframe{
    width: 100%;
    height: 100%;
    border: none;
  }
}

.contacts-map__info{
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;
  padding: 18px 18px 28px;
  width: 280px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  color: $text;
  font-size: 14px;
  line-height: 140%;
  @include bp(xs) {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: calc(100% - 30px);
    font-size: 12px;
  }
  p{
    margin-bottom: 10px;
    @include bp(xs) {
      margin-bottom: 5px;
    }
  }
  a{
    color: $text;
    &:hover{
      color: $main;
    }
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.contacts-map__subtitle{
  display: block;
  font-family: $title;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 8px;
  @include bp(xs) {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
