.services-section{
  padding-top: 130px;
  padding-bottom: 80px;
  position: relative;
  @include bp(xs) {
    padding-top: 53px;
    padding-bottom: 20px;
  }
  &:before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $main;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    @include bp(xs) {
      top: 30px;
    }
  }
  &:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 65px;
    background-color: $main;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    @include bp(xs) {
      height: 30px;
    }
  }
}

.services-title{
  text-align: center;
  margin-bottom: 50px;
  @include bp(xs) {
    margin-bottom: 20px;
  }
  >i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: $main;
    margin: 0 auto 20px;
    @include bp(xs) {
      width: 45px;
      height: 45px;
      padding: 11px;
      margin-bottom: 15px;
    }
    svg{
      position: relative;
      top: -2px;
      @include bp(xs) {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.services-wrapper{
  display: flex;
  .col-md-5{
    height: inherit;
    @include bp(md) {
      display: none;
    }
  }
  .col-md-7{
    height: inherit;
    @include bp(md) {
      width: 100%;
    }
  }
}

.services-pic{
  height: calc(50% - 10px);
  border-radius: 3px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  +.services-pic{
    margin-top: 20px;
  }
}

.services-info{
  padding: 50px;
  height: 100%;
  border-radius: 3px;
  background: #F9F9F9;
  @include bp(xl) {
    padding: 50px 30px;
  }
  @include bp(xs) {
    padding: 40px 15px 47px;
  }
}

.services-block{
  +.services-block{
    margin-top: 80px;
    @include bp(xl) {
      margin-top: 45px;
    }
    @include bp(xs) {
      margin-top: 60px;
    }
  }
}

.services-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 350px;
  height: 69px;
  border-radius: 50%/50%;
  border: 1px solid $main;
  margin: 0 auto 37px;
  @include bp(xs) {
    width: calc(100vw - 30px);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 42px;
  }
  >svg{
    position: absolute;
    top: -11px;
    right: 103px;
    @include bp(xs) {
      right: 80px;
    }
  }
  >span{
    font-family: $title;
    font-size: 24px;
    line-height: 100%;
    position: relative;
    @include bp(xs) {
      font-size: 18px;
    }
    &:before{
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 12px);
      @include bp(xs) {
        width: 7px;
        height: 7px;
        top: calc(100% + 15px);
      }
    }
    &:after{
      position: absolute;
      content: '';
      width: 1px;
      height: 32px;
      background-color: $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 17px);
      @include bp(xs) {
        top: calc(100% + 22px);
        height: 30px;
      }
    }
  }
}

.services-description{
  font-size: 16px;
  line-height: 140%;
  color: $text;
  text-align: center;
  max-width: 750px;
  margin: 0 auto 20px;
  @include bp(xs) {
    font-size: 14px;
  }
}

.services-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -24px -24px;
  @include bp(lg) {
    margin: 0 -15px -15px;
  }
  @include bp(xs) {
    margin: 0 10vw -30px;
  }
  @include bp(xxs) {
    margin: 0 3vw -30px;
  }
}

.services-item{
  padding: 0 24px 24px;
  text-decoration: none;
  @include bp(lg) {
    padding: 0 15px 15px;
  }
  @include bp(xs) {
    width: 120px;
    padding: 0 15px 30px;
  }
  &:hover{
    text-decoration: none;
    >span{
      color: $main;
      svg{
        path{
          fill: $main;
        }
      }
    }
  }
  >div{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
    img{
      max-height: 100%;
      object-fit: contain;
    }
  }
  >span{
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    transition: linear .2s;
    @include bp(lg) {
      font-size: 18px;
    }
    @include bp(xs) {
      font-size: 12px;
      justify-content: center;
    }
    svg{
      position: relative;
      @include bp(xs) {
        width: 15px;
        height: 15px;
        top: -1px;
      }
    }
  }
}

.section-marquee{
  margin-bottom: 100px;
  @include bp(xs) {
    margin-bottom: 50px;
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #FAF6ED;
  padding: 18px 0;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  @include bp(xs) {
    padding: 12px 0;
    font-size: 16px;
  }
  > div {
    display: inline-flex;
    width: max-content;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 45s linear infinite;
    svg{
      min-width: 32px;
      margin: 0 35px;
      @include bp(xs) {
        width: 25px;
        min-width: 25px;
        height: 25px;
        margin: 0 13px;
      }
    }
  }
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

@media (prefers-reduced-motion: reduce) {
  .marquee > div {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    width: auto;
    padding-left: 0;
  }
}
