.nf{
  padding-top: 57px;
  padding-bottom: 107px;
  @include bp(xs) {
    padding-top: 13px;
    padding-bottom: 50px;
  }
}

.nf-title{
  position: relative;
  width: 624px;
  max-width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%/50%;
  border: 1px solid $main;
  margin: 0 auto 60px;
  @include bp(xs) {
    height: 100px;
    margin-bottom: 42px;
  }
  >svg{
    position: absolute;
    right: 65px;
    top: -4px;
    @include bp(xs) {
      top: -2px;
      right: 44px;
      width: 35px;
      height: 35px;
    }
    @media only screen and (max-width: 424px){
      top: -6px;
    }
    @include bp(xxs) {
      top: -10px;
    }
  }
  >div{
    position: relative;
    font-family: $title;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    @include bp(xs) {
      top: -6px;
      font-size: 48px;
    }
    span{
      color: $main;
    }
    &:before{
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 2px);
      @include bp(xs) {
        width: 7px;
        height: 7px;
        top: calc(100% + 7px);
      }
    }
    &:after{
      position: absolute;
      content: '';
      width: 1px;
      height: 65px;
      background-color: $main;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 11px);
      @include bp(xs) {
        height: 45px;
        top: calc(100% + 14px);
      }
    }
  }
}

.nf-descr{
  max-width: 700px;
  margin: 0 auto 24px;
  font-family: $title;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  @include bp(xs) {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.nf-descr__sm{
  max-width: 610px;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 140%;
  color: $main;
  text-align: center;
  @include bp(xs) {
    margin-bottom: 36px;
  }
}

.nf-back{
  width: 310px;
  margin: 0 auto;
  @include bp(xs) {
    width: 260px;
  }
}
