.categories-page{
  .categories-slider__wrapper{
    padding-top: 11px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &:before{
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 1px;
      background-color: $border;
      top: 0;
    }
    &:after{
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 1px;
      background-color: $border;
      bottom: 0;
    }
  }
  .categories-slider__nav{
    right: auto;
    bottom: auto;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
    width: 1800px;
    max-width: calc(100vw - 106px);
    height: 0;
    justify-content: space-between;
    z-index: 3;
    .slider-arrow{
      background-color: rgba(255, 255, 255, 0.75);
      +.slider-arrow{
        margin: 0;
      }
    }
  }
  .categories-slider{
    .slick-list{
      padding: 25px 0 10px;
    }
  }
}

.categories-title{
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: $title;
  font-size: 42px;
  line-height: 100%;
}

.categories-top__bar{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.categories-results__count{
  font-size: 14px;
  line-height: 17px;
  color: $text;
}

.categories-sort__wrapper{
  display: flex;
  align-items: center;
  >span{
    font-size: 16px;
    line-height: 19px;
    margin-right: 14px;
    text-transform: uppercase;
    color: $text;
  }
  .SumoSelect{
    width: 171px;
    &.open, &:focus, &:hover{
      >.CaptionCont{
        box-shadow: none;
        border-color: #E2E2E2;
      }
    }
    &.open{
      >.optWrapper{
        top: 100%;
      }
    }
    >.CaptionCont{
      border: 1px solid #E2E2E2;
      border-radius: 3px;
      box-shadow: none;
      display: flex;
      align-items: center;
      width: 100%;
      height: 28px;
      font-size: 14px;
      line-height: 17px;
      padding: 0 9px;
      cursor: pointer;
      span {
        color: $text;
        cursor: pointer;
        padding-right: 16px;
        &.placeholder {
          font-style: normal;
        }
      }
      > label {
        margin-bottom: 0;
        width: 25px;
        cursor: pointer;
        > i {
          width: 8px;
          height: 8px;
          -webkit-mask: url('../images/icons/arrow-down-sm.svg');
          mask: url('../images/icons/arrow-down-sm.svg');
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          mask-size: contain;
          background: $text;
        }
      }
    }
    >.optWrapper {
      z-index: 2;
      border-color: #E2E2E2;
      >.options{
        li{
          &.opt{
            font-size: 14px;
            line-height: 17px;
            padding: 6px 9px;
            label{
              font-weight: 400;
              margin-bottom: 0;
            }
            &:hover{
              background-color: transparent;
              color: $main;
            }
          }
        }
      }
    }
  }
}

.categories-sidebar{
  margin-bottom: 60px;
}

.categories-filters__top{
  border-top: 1px solid #E2E2E2;
  padding-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categories-filters__title{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  >svg{
    margin-right: 8px;
  }
}

.categories-filters__active{
  margin-left: 10px;
  color: $main;
  text-transform: none;
}

.categories-filters__clear{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #EF6A4D;
  transition: linear .2s;
  svg{
    margin-left: 7px;
  }
  &:hover{
    text-decoration: underline;
  }
}

.categories-filters__main{
  position: relative;
  overflow: hidden;
}

.categories-filter{
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  +.categories-filter{
    margin-top: 10px;
  }
  &.active{
    .categories-filter__head{
      svg{
        transform: scale(1, 1);
      }
    }
  }
}

.categories-filter__head{
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: $title;
  font-size: 16px;
  line-height: 100%;
  transition: linear .2s;
  svg{
    transform: scale(1, -1);
  }
  &:hover{
    color: $main;
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.categories-filter__body{
  padding: 8px 20px 20px;
}

.categories-filters__list{
  li{
    display: flex;
    input{
      display: none;
      +label{
        font-weight: 400;
        margin-bottom: 0;
        color: $text;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size: 16px;
        line-height: 15px;
        width: 100%;
        &:hover{
          color: $main;
        }
        &:before{
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          left: 0;
          top: 0;
          border: 1px solid $text;
          border-radius: 2px;
        }
        &:after{
          position: absolute;
          content: '';
          z-index: 1;
          width: 7px;
          height: 7px;
          left: 4px;
          top: 4px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
      &:checked{
        +label{
          color: $main;
          &:before{
            border-color: $main;
            background-color: $main;
          }
        }
      }
    }
    +li{
      margin-top: 10px;
    }
  }
}

.categories-filters__submit{
  position: absolute;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  padding: 10px 17px;
  background-color: $main;
  &:before{
    position: absolute;
    content: '';
    bottom: 0;
    right: calc(100% - 10px);
    border-bottom: 10px solid $main;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.catalog-main{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 57px;
  &:after{
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    height: 1px;
    background-color: $border;
    bottom: 0;
  }
  .col-lg-4{
    margin-bottom: 49px;
  }
}

.catalog-text__wrapper{
  position: relative;
  padding-top: 152px;
  padding-bottom: 95px;
  &:before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $main;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  &:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 65px;
    background-color: $main;
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    @include bp(xs) {
      height: 30px;
    }
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
  h1{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 28px;
    color: #000;
    font-family: $title;
    font-size: 30px;
    line-height: 100%;
    @include bp(xs) {
      font-size: 21px;
      margin-bottom: 46px;
    }
  }
  h2, h3{
    display: block;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
    color: #000;
    font-family: $title;
    font-size: 24px;
    line-height: 100%;
    @include bp(xs) {
      font-size: 18px;
    }
  }
  p{
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
  ul{
    padding-left: 18px;
    list-style-type: disc;
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
  ol{
    padding-left: 18px;
    list-style-type: decimal;
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
}

.catalog-text__inner{
  position: relative;
  padding-top: 77px;
  border-top: 5px solid $main;
  display: flex;
  flex-wrap: wrap;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 9px;
    width: 100%;
    height: 5px;
    background-color: $text;
  }
}

.catalog-text__main{
  width: calc(100% - 420px);
}

.catalog-text__pics{
  width: 420px;
  padding-left: 20px;
  img{
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    +img{
      margin-top: 20px;
    }
  }
}
