.categories-page{
  .categories-slider__wrapper{
    padding-top: 11px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    @include bp(md) {
      margin-bottom: 0;
    }
    @include bp(xs) {
      width: 100vw;
      min-width: 100vw;
      overflow: auto;
      margin: 0 0 0 -15px;
      padding: 0 0 0 15px;
    }
    &:before{
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 1px;
      background-color: $border;
      top: 0;
      @include bp(xs) {
        display: none;
      }
    }
    &:after{
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 1px;
      background-color: $border;
      bottom: 0;
      @include bp(xs) {
        display: none;
      }
    }
  }
  .categories-slider__nav{
    right: auto;
    bottom: auto;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
    width: 1800px;
    max-width: calc(100vw - 106px);
    height: 0;
    justify-content: space-between;
    z-index: 3;
    @include bp(xxxl) {
      top: 76px;
      max-width: calc(100vw - 40px);
    }
    @include bp(xl) {
      top: 70px;
    }
    @include bp(lg) {
      top: 65px;
    }
    @include bp(xs) {
      display: none;
    }
    .slider-arrow{
      background-color: rgba(255, 255, 255, 0.75);
      +.slider-arrow{
        margin: 0;
      }
    }
  }
  .categories-slider{
    @include bp(xs) {
      position: relative;
      flex-wrap: nowrap;
      width: max-content;
      padding: 20px 0 15px;
      margin-left: -5px;
      margin-right: 15px;
      //border-top: 1px solid $border;
      //border-bottom: 1px solid $border;
    }
    &:before{
      display: none;
      position: absolute;
      content: '';
      left: 5px;
      width: calc(100% - 5px);
      height: 1px;
      background-color: $border;
      top: 0;
      @include bp(xs) {
        display: block;
      }
    }
    &:after{
      display: none;
      position: absolute;
      content: '';
      left: 5px;
      width: calc(100% - 5px);
      height: 1px;
      background-color: $border;
      bottom: 0;
      @include bp(xs) {
        display: block;
      }
    }
    .slick-list{
      padding: 25px 0 10px;
    }
    .slide{
      @include bp(xs) {
        width: 70px;
        min-width: 70px;
      }
    }
  }
  .categories-slider__item{
    @include bp(xs) {
      margin-bottom: 0;
    }
  }
  .categories-slider__pic{
    @include bp(xs) {
      height: 60px;
    }
  }
  .categories-slider__title{
    @include bp(xs) {
      font-size: 10px;
    }
  }
}

.categories-top__mob{
  display: none;
  margin-bottom: 20px;
  @include bp(md) {
    display: block;
  }
  @include bp(xs) {
    margin-bottom: 10px;
  }
  .categories-title{
    @include bp(md) {
      display: block;
    }
  }
  .categories-results__count{
    @include bp(md) {
      display: block;
    }
  }
}

.categories-title{
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: $title;
  font-size: 42px;
  line-height: 100%;
  @include bp(md) {
    display: none;
  }
  @include bp(xs) {
    font-size: 28px;
    margin-bottom: 8px;
  }
}

.categories-top__bar{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  @include bp(md) {
    display: none;
  }
}

.categories-results__count{
  font-size: 14px;
  line-height: 17px;
  color: $text;
  @include bp(md) {
    display: none;
  }
  @include bp(xs) {
    font-size: 12px;
    line-height: 14px;
  }
}

.categories-sort__wrapper{
  display: flex;
  align-items: center;
  >span{
    font-size: 16px;
    line-height: 19px;
    margin-right: 14px;
    text-transform: uppercase;
    color: $text;
  }
  .SumoSelect{
    width: 171px;
    &.open, &:focus, &:hover{
      >.CaptionCont{
        box-shadow: none;
        border-color: #E2E2E2;
      }
    }
    &.open{
      >.optWrapper{
        top: 100%;
      }
    }
    >.CaptionCont{
      border: 1px solid #E2E2E2;
      border-radius: 3px;
      box-shadow: none;
      display: flex;
      align-items: center;
      width: 100%;
      height: 28px;
      font-size: 14px;
      line-height: 17px;
      padding: 0 9px;
      cursor: pointer;
      span {
        color: $text;
        cursor: pointer;
        padding-right: 16px;
        &.placeholder {
          font-style: normal;
        }
      }
      > label {
        margin-bottom: 0;
        width: 25px;
        cursor: pointer;
        > i {
          width: 8px;
          height: 8px;
          -webkit-mask: url('../images/icons/arrow-down-sm.svg');
          mask: url('../images/icons/arrow-down-sm.svg');
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          mask-size: contain;
          background: $text;
        }
      }
    }
    >.optWrapper {
      z-index: 2;
      border-color: #E2E2E2;
      >.options{
        li{
          &.opt{
            font-size: 14px;
            line-height: 17px;
            padding: 6px 9px;
            label{
              font-weight: 400;
              margin-bottom: 0;
            }
            &:hover{
              background-color: transparent;
              color: $main;
            }
          }
        }
      }
    }
  }
}

.categories-controls__mob{
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 15px;
  @include bp(md) {
    display: flex;
    flex-wrap: wrap;
  }
  .categories-filters__checked{
    width: 100%;
    margin-top: 14px;
    margin-bottom: -5px;
  }
  .categories-filters__checked-item{
    margin-right: 15px;
    font-size: 11px;
    line-height: 12px;
  }
  .categories-filters__clear{
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 12px;
    svg{
      margin-left: 5px;
    }
  }
}

.categories-filters__btn{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  >svg{
    margin-right: 6px;
  }
  .categories-filters__active{
    text-transform: none;
    color: $main;
    font-size: 12px;
    line-height: 14px;
  }
}

.categories-sort__mob{
  position: relative;
  >svg{
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 10px;
    width: 5px;
    height: 5px;
  }
  select{
    width: 118px;
    height: 25px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 18px;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    appearance: none;
    -webkit-appearance: none;
  }
}

.categories-sidebar{
  margin-bottom: 60px;
  @include bp(md) {
    display: none;
  }
}

.categories-filters__top{
  border-top: 1px solid #E2E2E2;
  padding-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  @include bp(lg) {
    align-items: center;
  }
}

.categories-filters__title{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  @include bp(lg) {
    font-size: 12px;
    line-height: 15px;
  }
  >svg{
    margin-right: 8px;
    @include bp(lg) {
      margin-right: 5px;
    }
  }
}

.categories-filters__active{
  margin-left: 10px;
  color: $main;
  text-transform: none;
  @include bp(lg) {
    margin-left: 6px;
  }
}

.categories-filters__clear{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #EF6A4D;
  transition: linear .2s;
  @include bp(lg) {
    font-size: 12px;
  }
  svg{
    margin-left: 7px;
  }
  &:hover{
    text-decoration: underline;
  }
}

.categories-filters__checked{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 9px;
  margin-top: -10px;
}

.categories-filters__checked-item{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: $text;
  cursor: pointer;
  margin: 5px 20px 5px 0;
  @include bp(lg) {
    margin-right: 14px;
  }
  svg{
    margin-left: 4px;
  }
}

.categories-filters__main{
  position: relative;
  //overflow: hidden;
}

.categories-filter{
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  +.categories-filter{
    margin-top: 10px;
  }
  &.active{
    .categories-filter__head{
      svg{
        transform: scale(1, 1);
      }
    }
  }
}

.categories-filter__head{
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: $title;
  font-size: 16px;
  line-height: 100%;
  transition: linear .2s;
  @include bp(md) {
    padding: 10px 11px;
    font-size: 11px;
  }
  svg{
    transform: scale(1, -1);
    @include bp(md) {
      width: 7px;
      height: 7px;
    }
  }
  &:hover{
    color: $main;
    @include bp(md) {
      color: #000;
    }
    svg{
      path{
        fill: $main;
        @include bp(md) {
          fill: #000;
        }
      }
    }
  }
}

.categories-filter__body{
  padding: 8px 20px 20px;
  @include bp(md) {
    padding: 0 11px 15px;
    margin-top: -3px;
  }
}

.categories-filters__list{
  li{
    display: flex;
    input{
      display: none;
      +label{
        font-weight: 400;
        margin-bottom: 0;
        color: $text;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size: 16px;
        line-height: 15px;
        width: 100%;
        @include bp(md) {
          padding-left: 15px;
          font-size: 11px;
          line-height: 100%;
        }
        &:hover{
          color: $main;
        }
        &:before{
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          left: 0;
          top: 0;
          border: 1px solid $text;
          border-radius: 2px;
          @include bp(md) {
            width: 9px;
            height: 9px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:after{
          position: absolute;
          content: '';
          z-index: 1;
          width: 7px;
          height: 7px;
          left: 4px;
          top: 4px;
          background-color: #fff;
          border-radius: 50%;
          @include bp(md) {
            width: 3px;
            height: 3px;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &:checked{
        +label{
          color: $main;
          &:before{
            border-color: $main;
            background-color: $main;
          }
        }
      }
    }
    +li{
      margin-top: 10px;
      @include bp(md) {
        margin-top: 5px;
      }
    }
  }
}

.categories-filters__submit{
  position: absolute;
  z-index: 2;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  padding: 10px 17px;
  background-color: $main;
  width: max-content;
  display: none;
  @include bp(md) {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  &:before{
    position: absolute;
    content: '';
    bottom: 0;
    right: calc(100% - 10px);
    border-bottom: 10px solid $main;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.catalog-main{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 57px;
  @include bp(xs) {
    margin: 0 -5px;
    padding-bottom: 20px;
  }
  &:after{
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    height: 1px;
    background-color: $border;
    bottom: 0;
    @include bp(xs) {
      border-bottom-color: #E2E2E2;
    }
  }
  .col-lg-4{
    margin-bottom: 49px;
    @include bp(sm) {
      margin-bottom: 30px;
    }
    @include bp(xs) {
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
  .catalog-item__pic{
    @include bp(lg) {
      height: calc(38vw - 50px);
    }
    @include bp(md) {
      height: calc(50vw - 50px);
    }
    @include bp(sm) {
      height: calc(50vw - 30px);
    }
    @include bp(xs) {
      height: calc(50vw - 20px);
    }
  }
}

.catalog-text__wrapper{
  position: relative;
  padding-top: 152px;
  padding-bottom: 95px;
  font-size: 16px;
  line-height: 140%;
  @include bp(xs) {
    padding-top: 60px;
    padding-bottom: 70px;
    margin-top: 5px;
    font-size: 12px;
  }
  &:before{
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $main;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    @include bp(xs) {
      top: 30px;
    }
  }
  &:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 65px;
    background-color: $main;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    @include bp(xs) {
      height: 30px;
    }
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
  h1{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 28px;
    color: #000;
    font-family: $title;
    font-size: 30px;
    line-height: 100%;
    @include bp(xs) {
      font-size: 21px;
      margin-bottom: 16px;
    }
  }
  h2, h3{
    display: block;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
    color: #000;
    font-family: $title;
    font-size: 24px;
    line-height: 100%;
    @include bp(xs) {
      font-size: 18px;
    }
  }
  p{
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 14px;
    }
  }
  ul{
    padding-left: 18px;
    list-style-type: disc;
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 14px;
    }
  }
  ol{
    padding-left: 18px;
    list-style-type: decimal;
    margin-bottom: 16px;
    @include bp(xs) {
      margin-bottom: 14px;
    }
  }
}

.catalog-text__inner{
  position: relative;
  padding-top: 77px;
  border-top: 5px solid $main;
  display: flex;
  flex-wrap: wrap;
  @include bp(xs) {
    padding-top: 68px;
  }
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 9px;
    width: 100%;
    height: 5px;
    background-color: $text;
  }
}

.catalog-text__main{
  width: calc(100% - 420px);
  @include bp(lg) {
    width: calc(100% - 320px);
  }
  @include bp(md) {
    width: 100%;
  }
}

.catalog-text__pics{
  width: 420px;
  padding-left: 20px;
  @include bp(lg) {
    width: 320px;
  }
  @include bp(md) {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  @include bp(xs) {
    margin-top: 24px;
    flex-direction: column;
  }
  img{
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    @include bp(md) {
      width: calc(50% - 15px);
      height: 26vw;
      object-fit: cover;
    }
    @include bp(xs) {
      width: 100%;
      height: calc(56.2vw - 30px);
    }
    +img{
      margin-top: 20px;
      @include bp(md) {
        margin: 0;
      }
      @include bp(xs) {
        margin-top: 10px;
      }
    }
  }
}

.catalog-filters__mob{
  position: fixed;
  top: 64px;
  height: calc(100vh - 94px);
  left: 0;
  width: 255px;
  transform: translateX(-260px);
  transition: linear .2s;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  z-index: 21;
  @supports (-webkit-touch-callout: none) {
    height: calc(100vh - 244px);
  }
  .categories-filters__main-wrapper{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }
  .categories-filters__head{
    padding: 0 15px;
    position: relative;
  }
  .categories-filters__close{
    position: absolute;
    display: flex;
    right: 15px;
    top: 18px;
    &:before{
      position: absolute;
      content: '';
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .categories-filters__top{
    padding-top: 15px;
    border: none;
    margin-bottom: 15px;
  }
  .categories-filters__title{
    font-size: 14px;
    svg{
      margin-right: 3px;
      position: relative;
      top: -1px;
    }
  }
  .categories-filters__active{
    font-size: 12px;
  }
  .categories-filters__checked{
    position: relative;
    padding-right: 80px;
    margin-bottom: 7px;
  }
  .categories-filters__checked-item{
    font-size: 11px;
    margin-right: 10px;
    svg{
      width: 10px;
      height: 10px;
    }
  }
  .categories-filters__clear{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 11px;
    svg{
      width: 10px;
      height: 10px;
      margin-left: 4px;
    }
  }
  .categories-filters__main{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px 30px;
    &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 4px;
      transition: linear .2s;
    }
    &::-webkit-scrollbar-thumb {
      background: $main;
      border-radius: 0;
      width: 4px;
      transition: linear .2s;
      cursor: grab;
    }
  }
  .categories-filters__footer{
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(70, 70, 70, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .btn{
      height: 30px;
      width: calc(50% - 2.5px);
      font-size: 10px;
      line-height: 140%;
      padding: 0 8px;
    }
  }
}
