.header {
  transition: linear .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  max-width: 100vw;
  @include bp(md) {
    box-shadow: 0 0 20px rgba(70, 70, 70, 0.2);
  }
  @media only screen and (max-height: 859px) {
    .header-main{
      height: 100px;
      @include bp(md) {
        height: 55px;
      }
    }
  }
  &.fixed {
    .header-main{
      height: 100px;
      @include bp(md) {
        height: 55px;
      }
      .header-logo{
        margin-right: 72px;
        @include bp(xl) {
          margin-right: 30px;
        }
        @include bp(lg) {
          margin-right: 25px;
        }
      }
      .header-text{
        top: 18px;
        @include bp(md) {
          top: 8px;
        }
        >span {
          display: block;
          font-size: 32px;
          line-height: 34px;
          @include bp(xl) {
            font-size: 24px;
            line-height: 30px;
          }
          @include bp(lg) {
            font-size: 18px;
            line-height: 22px;
          }
          @include bp(md) {
            font-size: 11px;
            line-height: 13px;
          }
        }
        >div{
          font-size: 16px;
          line-height: 20px;
          @include bp(md) {
            font-size: 8px;
            line-height: 10px;
          }
          span{
            &.accent{
              height: 18px;
            }
          }
        }
      }
    }
    +.header-spacer{
      height: 150px;
      @include bp(md) {
        height: 55px;
      }
    }
  }
}

.header-main{
  height: 160px;
  position: relative;
  z-index: 2;
  transition: linear .3s;
  @include bp(xxxl) {
    height: 140px;
  }
  @include bp(xl) {
    height: 100px;
  }
  @include bp(md) {
    height: 55px;
  }
  @include bp(xs) {
    padding: 0 5px;
  }
  >.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
  }
}

.header-bg{
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 6px);
  object-fit: contain;
  @include bp(md) {
    display: none;
  }
}

.header-left{
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo{
  display: flex;
  height: 136px;
  max-width: 178px;
  max-height: calc(100% - 10px);
  transition: linear .3s;
  margin-right: 122px;
  @include bp(xxxl) {
    margin-right: 72px;
  }
  @include bp(xl) {
    margin-right: 30px;
  }
  @include bp(lg) {
    margin-right: 25px;
  }
  @include bp(md) {
    width: 68px;
    height: 52px;
    max-height: unset;
    top: 2px;
  }
  img{
    height: 100%;
    object-fit: contain;
    transition: linear .3s;
  }
}

.header-text{
  @include bp(xs) {
    display: none;
  }
  >span{
    display: block;
    font-family: $playfair;
    font-size: 36px;
    line-height: 48px;
    transition: linear .3s;
    text-transform: uppercase;
    min-width: max-content;
    font-weight: 700;
    color: $text;
    @include bp(xxl) {
      font-size: 30px;
      line-height: 34px;
    }
    @include bp(xl) {
      font-size: 24px;
      line-height: 30px;
    }
    @include bp(lg) {
      font-size: 18px;
      line-height: 22px;
    }
    @include bp(md) {
      font-size: 11px;
      line-height: 13px;
      min-width: unset;
    }
  }
  >div{
    margin: 11px auto 0;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: linear .3s;
    font-size: 21px;
    line-height: 25px;
    @include bp(xl) {
      font-size: 16px;
      line-height: 20px;
    }
    @include bp(md) {
      margin: 2px 0 0;
      justify-content: flex-start;
      gap: unset;
      font-size: 8px;
      line-height: 10px;
    }
    span{
      transition: linear .3s;
      &.accent{
        width: 1px;
        height: 23px;
        background-color: $main;
        @include bp(md) {
          display: none;
        }
      }
    }
    a{
      transition: linear .3s;
      color: #000;
      @include bp(md) {
        font-size: 0;
      }
      &:hover{
        color: $main;
      }
    }
  }
}

.header-right{
  display: flex;
  align-items: center;
}

.header-right__link{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
  @include bp(lg) {
    font-size: 13px;
  }
  @include bp(md) {
    display: none;
  }
  svg{
    margin-right: 5px;
    @include bp(lg) {
      margin-right: 3px;
    }
  }
  &:hover{
    color: $main;
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-info__wrapper{
  position: relative;
  margin-left: 54px;
  @include bp(xxl) {
    margin-left: 30px;
  }
  @include bp(lg) {
    margin-left: 25px;
  }
  @include bp(md) {
    display: none;
  }
  &.active{
    .header-info{
      &:before{
        opacity: 1;
      }
      >span{
        color: #fff;
        +svg{
          transform: scale(-1, -1);
        }
      }
      >svg{
        path{
          fill: #fff;
        }
      }
    }
    >ul{
      opacity: 1;
      visibility: visible;
    }
  }
  >ul{
    padding: 11px 0;
    width: 109px;
    min-width: max-content;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: linear .2s;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: absolute;
    left: -10px;
    top: calc(100% + 10px);
    li{
      padding: 0 10px;
      a{
        color: $main;
        text-decoration: none;
        &:hover{
          color: $accent;
          text-decoration: none;
        }
      }
    }
  }
}

.header-info{
  cursor: pointer;
  display: flex;
  align-items: center;
  &:before{
    z-index: -1;
    position: absolute;
    top: -6px;
    left: -10px;
    content: '';
    opacity: 0;
    transition: linear .2s;
    background-color: $main;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 109px;
    height: 42px;
  }
  >span{
    margin: 0 6px 0 14px;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    transition: linear .2s;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    +svg{
      position: relative;
      top: -1px;
    }
  }
  &:hover{
    >span{
      color: $main;
    }
    >svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-search__wrapper{
  position: relative;
  margin-left: 26px;
  @include bp(lg) {
    margin-left: 22px;
  }
  &.show{
    .header-search{
      display: block;
    }
    .header-search__form{
      width: 425px;
      @include bp(xs) {
        width: calc(100vw - 26px);
      }
    }
  }
  &.active{
    .header-search__form{
      >input{
        border-radius: 3px;
      }
    }
  }
  &.focus.active {
    .search-results {
      display: block !important;
    }
    .header-search__form{
      >input{
        background-color: #fff;
        color: $text;
        +button{
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.header-search__btn{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: $main;
      }
    }
  }
  svg{
    @include bp(md) {
      width: 18px;
      height: 18px;
    }
  }
}

.header-search{
  position: absolute;
  z-index: 2;
  display: none;
  right: -14px;
  top: -11px;
  border-radius: 5px;
  @include bp(xs) {
    right: 13px;
    left: 13px;
    top: 8px;
  }
}

.header-search__form{
  display: flex;
  position: relative;
  width: 0;
  transition: linear .2s;
  >input{
    height: 49px;
    width: 100%;
    padding-left: 16px;
    padding-right: 53px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $text;
    &::placeholder{
      color: $text;
    }
    &:focus{
      background-color: #fff;
      color: $text;
      &::placeholder{
        color: transparent;
      }
      +button{
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  >button{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 43px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    border: none;
    border-radius: 3px;
    transition: linear .2s;
    &:hover{
      background-color: $accent;
      svg{
        path{
          fill: #fff;
        }
      }
    }
  }
  .search-results{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    >ul{
      padding: 16px 16px 0;
      max-height: 234px;
      overflow: auto;
      &::-webkit-scrollbar {
        overflow-y: scroll;
        background: transparent;
        width: 4px;
        transition: linear .2s;
      }
      &::-webkit-scrollbar-thumb {
        background: $main;
        border-radius: 0;
        width: 4px;
        transition: linear .2s;
        cursor: grab;
      }
      li{
        display: none;
        &.show{
          display: block;
        }
        +li{
          margin-top: 10px;
        }
      }
    }
    >div{
      a{
        float: right;
        text-align: right;
        padding: 10px 18px;
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 140%;
        text-decoration: underline;
        color: $main;
        &:hover{
          color: $accent;
          text-decoration: none;
          svg{
            path{
              fill: $accent;
            }
          }
        }
        svg{
          position: relative;
          top: -1px;
          margin-left: 9px;
        }
      }
      span{
        clear: both;
        justify-content: center;
        text-align: center;
        color: $text;
        font-size: 14px;
        line-height: 100%;
        padding: 0 15px 15px;
      }
    }
  }
}

.search-results-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    .search-results-item__about{
      span{
        text-decoration: underline;
      }
    }
    .search-results-item__pic{
      img{
        opacity: .7;
      }
    }
  }
}

.search-results-item__pic{
  width: 66px;
  height: 66px;
  border-radius: 3px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .2s;
  }
}

.search-results-item__about{
  width: calc(100% - 66px);
  padding-left: 10px;
  span{
    display: block;
    display: -webkit-box;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 34px;
    transition: linear .2s;
    .mark, mark{
      padding: 0;
      background: transparent;
      color: #000;
    }
  }
  small{
    display: block;
    font-family: $title;
    color: #000;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    margin-top: 2px;
  }
}

.header-cart__wrapper{
  position: relative;
  margin-left: 20px;
  @include bp(md) {
    margin-left: 14px;
  }
  &:hover{
    .header-cart__main{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.header-cart__btn{
  cursor: pointer;
  display: flex;
  position: relative;
  &:hover{
    >svg{
      path{
        fill: $main;
      }
    }
    >i{
      background-color: $main;
    }
  }
  >svg{
    @include bp(md) {
      width: 20px;
      height: 20px;
    }
  }
  >i{
    position: absolute;
    top: -8px;
    left: calc(100% - 11px);
    font-style: normal;
    min-width: 21px;
    height: 21px;
    line-height: 140%;
    border-radius: 21px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: linear .2s;
    padding: 4px 4px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp(md) {
      min-width: 17px;
      height: 17px;
      border-radius: 17px;
      font-size: 12px;
      top: -6px;
      padding: 3px 3px 2px;
      left: calc(100% - 5px);
    }
  }
}

.header-cart__main{
  /*opacity: 0;
  visibility: hidden;*/
  position: absolute;
  background-color: #fff;
  width: 450px;
  border: 1px solid $main;
  border-radius: 3px;
  top: calc(100% + 17px);
  right: -24px;
  transform: translateY(20px);
  transition: linear .2s;
  &:before{
    position: absolute;
    content: '';
    z-index: -1;
    right: 17px;
    top: -10px;
    transform: rotate(45deg);
    border: 1px solid $main;
    border-radius: 3px;
    width: 32px;
    height: 32px;
  }
  &:after{
    position: absolute;
    content: '';
    z-index: 1;
    right: 0;
    top: -20px;
    width: 60px;
    height: 32px;
  }
  &.empty{
    .header-cart__inner{
      &.has_items{
        display: none;
      }
      &.empty{
        display: block;
      }
    }
  }
  .header-cart__inner{
    &.empty{
      display: none;
    }
  }
}

.header-cart__inner{
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  margin-top: -.5px;
  &:after{
    position: absolute;
    content: '';
    z-index: 1;
    right: 17px;
    top: -8.3px;
    transform: rotate(45deg);
    border-radius: 3px;
    width: 32px;
    height: 32px;
    background-color: #fff;
  }
}

.header-cart__title{
  padding: 25px 0 15px;
  margin: 0 30px 20px;
  font-size: 18px;
  line-height: 100%;
  font-family: $title;
  border-bottom: 1px solid #E2E2E2;
}

.header-cart__body{
  padding: 0 30px;
  max-height: 230px;
  margin-bottom: 30px;
  overflow: auto;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 0;
    width: 4px;
    transition: linear .2s;
    cursor: grab;
  }
}

.cart-items{
  li{
    position: relative;
    +li{
      margin-top: 20px;
    }
  }
}

.cart-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    .cart-item__pic{
      img{
        opacity: .8;
      }
    }
    .cart-item__name{
      text-decoration: underline;
    }
  }
}

.cart-item__pic{
  width: 105px;
  height: 105px;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .2s;
  }
}

.cart-item__info{
  width: calc(100% - 105px);
  padding-left: 14px;
}

.cart-item__id{
  font-size: 12px;
  line-height: 140%;
  color: #A3A3A3;
  margin-bottom: 8px;
  span{
    color: $text;
  }
}

.cart-item__name{
  display: block;
  display: -webkit-box;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  transition: linear .2s;
  margin-bottom: 6px;
}

.cart-item__price{
  display: block;
  font-family: $title;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000
}

.cart-item__del{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: linear .2s;
  background: #D9D9D9;
  z-index: 1;
  &:hover{
    background: $accent;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}

.header-cart__footer{
  background: #F9F9F9;
  border-radius: 0 0 3px 3px;
  padding: 20px 20px 47px 30px;
}

.header-cart__totals{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  >span{
    font-family: $title;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
  }
  >div{
    padding-right: 18px;
    text-align: right;
    font-family: $title;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    small{
      display: block;
      font-size: 14px;
      line-height: 140%;
      color: $text;
      font-family: $default;
    }
  }
}

.header-cart__controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}

.header-cart__link{
  font-size: 18px;
  line-height: 140%;
  color: $main;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    color: $main;
    text-decoration: underline;
  }
}

.header-cart__checkout{
  width: 200px;
}

.header-cart__empty{
  display: block;
  padding: 25px 15px;
  font-size: 18px;
  line-height: 100%;
  font-family: $title;
  text-align: center;
}

.header-bot{
  display: flex;
  justify-content: center;
  background-color: #DBD5C7;
  height: 50px;
  position: relative;
  z-index: 1;
  @include bp(md) {
    display: none;
  }
  .container{
    display: flex;
    justify-content: center;
    >ul{
      display: flex;
      justify-content: center;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      @include bp(xl) {
        font-size: 16px;
      }
      >li{
        display: flex;
        position: relative;
        &:hover{
          >a {
            background-color: $main;
            color: #fff;
          }
          >ul{
            display: block;
          }
        }
        &.current-menu-item {
          &:hover{
            >a {
              background-color: transparent;
              color: $main;
            }
          }
          >a {
            color: $main;
            pointer-events: none;
            &:hover{
              background-color: transparent;
              color: $main;
            }
          }
        }

        &.menu-item-has-children {
          transition: all linear 0.2s;
          >a {
            position: relative;
            padding-right: 40px;
            cursor: default;
            &:after {
              content: '';
              position: absolute;
              top: 19px;
              right: 18px;
              width: 9px;
              height: 9px;
              -webkit-mask: url('../images/icons/arrow-down-sm.svg');
              mask: url('../images/icons/arrow-down-sm.svg');
              -webkit-mask-position: center;
              mask-position: center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-size: contain;
              mask-size: contain;
              background: $text;
            }
          }
          &:hover {
            background-color: #cc950c;
            > a{
              &:after {
                background: #fff;
                transform: scale(1, -1);
              }
            }
          }
        }
        &.more{
          display: none;
          @include bp(lg) {
            display: flex;
            flex: 1 0 auto;
          }
          >ul{
            left: auto;
            right: 0;
            >li{
              display: none;
              &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3){
                display: block;
              }
            }
          }
        }
        &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4){
          @include bp(lg) {
            display: none;
          }
        }
        >a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 50px;
          padding: 0 15px;
          color: #000;
          @include bp(xl) {
            padding: 0 10px;
          }
          &:hover{
            background-color: $main;
            color: #fff;
          }
        }
        >ul{
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #fff;
          font-size: 18px;
          line-height: 140%;
          text-transform: uppercase;
          padding: 10px 0;
          min-width: 200px;
          box-shadow: 0 2px 10px 1px rgba(#000, 0.15);
          @include bp(xl) {
            font-size: 16px;
          }
          >li{
            &.current-menu-item{
              >a{
                color: $text;
                pointer-events: none;
              }
            }
            >a{
              display: block;
              padding: 5px 20px;
            }
          }
        }
      }
    }
  }
}

.header-lang__wrapper{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-lang__btn{
  cursor: pointer;
  display: flex;
  padding: 0 15px;
  align-items: center;
  @include bp(xl) {
    padding: 0 10px;
  }
  span{
    margin: 0 5px;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    transition: linear .2s;
    text-transform: uppercase;
    @include bp(xl) {
      font-size: 16px;
    }
    +svg{
      position: relative;
      top: -2px;
    }
  }
  &:hover{
    span{
      color: $main;
    }
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-spacer{
  width: 100%;
  height: 210px;
  transition: linear .3s;
  @media only screen and (max-height: 859px) {
    height: 150px;
  }
  @include bp(xxxl) {
    height: 190px;
    @media only screen and (max-height: 859px) {
      height: 150px;
    }
  }
  @include bp(xl) {
    height: 150px;
  }
  @include bp(md) {
    height: 55px;
  }
}

.mobile-menu__btn {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: 38px;
  &:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include bp(md) {
    display: flex;
  }
  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .3s;
    +svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &.active {
    svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      +svg{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.mobile-menu__wrapper{
  display: none;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  padding-bottom: 50px;
  overflow: auto;
  @supports (-webkit-touch-callout: none) {
    padding-bottom: 150px;
  }
}

.mobile-menu__top-link{
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 22px;
  margin-bottom: 17px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 14px;
  line-height: 140%;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  &:hover{
    color: $main;
    text-decoration: none;
    svg{
      path{
        fill: $main;
      }
    }
  }
  svg{
    margin-right: 3px;
    position: relative;
    top: -1px;
  }
}

.mobile-menu{
  >li{
    margin-bottom: 15px;
    &.menu-item-has-children{
      >a{
        display: flex;
        &:hover{
          svg{
            path{
              fill: $main;
            }
          }
        }
        svg{
          margin-left: 10px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -1px;
        }
      }
    }
    >a{
      font-size: 18px;
      line-height: 140%;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      &:hover, &:focus{
        color: $main;
        text-decoration: none;
      }
      &.current{
        color: $main;
      }
    }
    >ul{
      display: none;
      padding: 20px 20px 17px;
      >li{
        >a{
          font-size: 18px;
          line-height: 170%;
          color: #000;
          text-decoration: none;
          &:hover, &:focus{
            color: $main;
            text-decoration: none;
          }
          &.current{
            color: $main;
          }
        }
      }
    }
  }
}

.mobile-menu__lang{
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  *{
    position: relative;
    margin-right: 17px;
    &:after{
      content: '/';
      position: absolute;
      right: -12px;
      top: 0;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  a{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: rgba($main, 0.4);
      &:after{
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  span{
    color: $main;
  }
}
