.header {
  transition: linear .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  max-width: 100vw;
  @include bp(md) {
    box-shadow: 0 0 20px rgba(70, 70, 70, 0.2);
  }
  @media only screen and (max-height: 859px) {
    .header-main{
      height: 100px;
      @include bp(md) {
        height: 55px;
      }
    }
  }
  &.fixed {
    .header-main{
      height: 100px;
      @include bp(md) {
        height: 55px;
      }
      .header-logo{
        margin-right: 72px;
        @include bp(xl) {
          margin-right: 30px;
        }
        @include bp(lg) {
          margin-right: 25px;
        }
      }
      .header-text{
        top: 18px;
        @include bp(md) {
          top: 8px;
        }
        >span {
          display: block;
          font-size: 32px;
          line-height: 34px;
          @include bp(xl) {
            font-size: 24px;
            line-height: 30px;
          }
          @include bp(lg) {
            font-size: 18px;
            line-height: 22px;
          }
          @include bp(md) {
            font-size: 11px;
            line-height: 13px;
          }
        }
        >div{
          font-size: 16px;
          line-height: 20px;
          @include bp(md) {
            font-size: 8px;
            line-height: 10px;
          }
          span{
            &.accent{
              height: 18px;
            }
          }
        }
      }
    }
    +.header-spacer{
      height: 150px;
      @include bp(md) {
        height: 55px;
      }
    }
  }
}

.header-main{
  height: 160px;
  position: relative;
  transition: linear .3s;
  @include bp(xxxl) {
    height: 140px;
  }
  @include bp(xl) {
    height: 100px;
  }
  @include bp(md) {
    height: 55px;
  }
  >.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
  }
}

.header-bg{
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 6px);
  object-fit: contain;
  @include bp(md) {
    display: none;
  }
}

.header-left{
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo{
  display: flex;
  height: 136px;
  max-width: 178px;
  max-height: calc(100% - 10px);
  transition: linear .3s;
  margin-right: 122px;
  @include bp(xxxl) {
    margin-right: 72px;
  }
  @include bp(xl) {
    margin-right: 30px;
  }
  @include bp(lg) {
    margin-right: 25px;
  }
  @include bp(md) {
    width: 68px;
    height: 52px;
    max-height: unset;
    top: 2px;
  }
  img{
    height: 100%;
    object-fit: contain;
    transition: linear .3s;
  }
}

.header-text{
  >span{
    display: block;
    font-family: $playfair;
    font-size: 36px;
    line-height: 48px;
    transition: linear .3s;
    text-transform: uppercase;
    min-width: max-content;
    font-weight: 700;
    color: $text;
    @include bp(xxl) {
      font-size: 30px;
      line-height: 34px;
    }
    @include bp(xl) {
      font-size: 24px;
      line-height: 30px;
    }
    @include bp(lg) {
      font-size: 18px;
      line-height: 22px;
    }
    @include bp(md) {
      font-size: 11px;
      line-height: 13px;
      min-width: unset;
    }
  }
  >div{
    margin: 11px auto 0;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: linear .3s;
    font-size: 21px;
    line-height: 25px;
    @include bp(xl) {
      font-size: 16px;
      line-height: 20px;
    }
    @include bp(md) {
      margin: 2px 0 0;
      justify-content: flex-start;
      gap: unset;
      font-size: 8px;
      line-height: 10px;
    }
    span{
      transition: linear .3s;
      &.accent{
        width: 1px;
        height: 23px;
        background-color: $main;
        @include bp(md) {
          display: none;
        }
      }
    }
    a{
      transition: linear .3s;
      color: #000;
      @include bp(md) {
        font-size: 0;
      }
      &:hover{
        color: $main;
      }
    }
  }
}

.header-right{
  display: flex;
  align-items: center;
}

.header-right__link{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
  @include bp(lg) {
    font-size: 13px;
  }
  @include bp(md) {
    display: none;
  }
  svg{
    margin-right: 5px;
    @include bp(lg) {
      margin-right: 3px;
    }
  }
  &:hover{
    color: $main;
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-info__wrapper{
  position: relative;
  margin-left: 72px;
  @include bp(xxl) {
    margin-left: 30px;
  }
  @include bp(lg) {
    margin-left: 25px;
  }
  @include bp(md) {
    display: none;
  }
}

.header-info{
  cursor: pointer;
  display: flex;
  align-items: center;
  span{
    margin: 0 6px;
    font-size: 14px;
    line-height: 140%;
    color: #000;
    transition: linear .2s;
    text-transform: uppercase;
    +svg{
      position: relative;
      top: -2px;
    }
  }
  &:hover{
    span{
      color: $main;
    }
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-search__wrapper{
  position: relative;
  margin-left: 26px;
  @include bp(lg) {
    margin-left: 22px;
  }
}

.header-search__btn{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-cart__wrapper{
  position: relative;
  margin-left: 20px;
}

.header-cart__btn{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-bot{
  display: flex;
  justify-content: center;
  background-color: #DBD5C7;
  height: 50px;
  position: relative;
  z-index: 1;
  @include bp(md) {
    display: none;
  }
  .container{
    display: flex;
    justify-content: center;
    >ul{
      display: flex;
      justify-content: center;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      @include bp(xl) {
        font-size: 16px;
      }
      >li{
        display: flex;
        position: relative;
        &:hover{
          >a {
            background-color: $main;
            color: #fff;
          }
          >ul{
            display: block;
          }
        }
        &.current-menu-item {
          &:hover{
            >a {
              background-color: transparent;
              color: $main;
            }
          }
          >a {
            color: $main;
            pointer-events: none;
            &:hover{
              background-color: transparent;
              color: $main;
            }
          }
        }

        &.menu-item-has-children {
          transition: all linear 0.2s;
          >a {
            position: relative;
            padding-right: 40px;
            cursor: default;
            &:after {
              content: '';
              position: absolute;
              top: 19px;
              right: 18px;
              width: 9px;
              height: 9px;
              -webkit-mask: url('../images/icons/arrow-down-sm.svg');
              mask: url('../images/icons/arrow-down-sm.svg');
              -webkit-mask-position: center;
              mask-position: center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-size: contain;
              mask-size: contain;
              background: $text;
            }
          }
          &:hover {
            background-color: #cc950c;
            > a{
              &:after {
                background: #fff;
                transform: scale(1, -1);
              }
            }
          }
        }
        &.more{
          display: none;
          @include bp(lg) {
            display: flex;
            flex: 1 0 auto;
          }
          >ul{
            left: auto;
            right: 0;
            >li{
              display: none;
              &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3){
                display: block;
              }
            }
          }
        }
        &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4){
          @include bp(lg) {
            display: none;
          }
        }
        >a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 50px;
          padding: 0 15px;
          color: #000;
          @include bp(xl) {
            padding: 0 10px;
          }
          &:hover{
            background-color: $main;
            color: #fff;
          }
        }
        >ul{
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #fff;
          font-size: 18px;
          line-height: 140%;
          text-transform: uppercase;
          padding: 10px 0;
          min-width: 200px;
          box-shadow: 0 2px 10px 1px rgba(#000, 0.15);
          @include bp(xl) {
            font-size: 16px;
          }
          >li{
            &.current-menu-item{
              >a{
                color: $text;
                pointer-events: none;
              }
            }
            >a{
              display: block;
              padding: 5px 20px;
            }
          }
        }
      }
    }
  }
}

.header-lang__wrapper{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-lang__btn{
  cursor: pointer;
  display: flex;
  padding: 0 15px;
  align-items: center;
  @include bp(xl) {
    padding: 0 10px;
  }
  span{
    margin: 0 5px;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    transition: linear .2s;
    text-transform: uppercase;
    @include bp(xl) {
      font-size: 16px;
    }
    +svg{
      position: relative;
      top: -2px;
    }
  }
  &:hover{
    span{
      color: $main;
    }
    svg{
      path{
        fill: $main;
      }
    }
  }
}

.header-spacer{
  width: 100%;
  height: 210px;
  transition: linear .3s;
  @media only screen and (max-height: 859px) {
    height: 150px;
  }
  @include bp(xxxl) {
    height: 190px;
    @media only screen and (max-height: 859px) {
      height: 150px;
    }
  }
  @include bp(xl) {
    height: 150px;
  }
  @include bp(md) {
    height: 55px;
  }
}

.mobile-menu__btn {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: 25px;
  @include bp(md) {
    display: flex;
  }
  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .3s;
    +svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &.active {
    svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      +svg{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.mobile-menu__wrapper{
  display: none;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  padding: 34px 0;
  .container{
    >ul{
      >li{
        margin-bottom: 15px;
        >a{
          font-size: 18px;
          line-height: 140%;
          color: #000;
          text-decoration: none;
          &:hover, &:focus{
            color: $main;
            text-decoration: none;
          }
          &.current{
            color: $main;
          }
        }
        >ul{
          padding: 20px 20px 17px;
          >li{
            >a{
              font-size: 18px;
              line-height: 170%;
              color: #000;
              text-decoration: none;
              &:hover, &:focus{
                color: $main;
                text-decoration: none;
              }
              &.current{
                color: $main;
              }
            }
          }
        }
      }
    }
  }
}
