.mfp-bg {
  background: rgba(204, 149, 12, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 1;
}

.mfp-container {
  padding: 0;
}

.popup {
  position: relative;
  margin: 0 auto;
  width: 926px;
  max-width: calc(100vw - 30px);
  padding: 49px 63px 68px 63px;
  background: #FFFFFF;
  border-radius: 3px;

  @include bp(sm) {
    padding: 41px 40px 53px 40px;
  }

  @include bp(xs) {
    padding: 45px 11px 47px 9px;
  }

  .mfp-close {
    width: 72px;
    height: 70px;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }

    @include bp(sm) {
      width: 52px;
      height: 50px;
      right: -6px;
      top: -9px;
    }

    svg {
      pointer-events: none;

      @include bp(xs) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.investment-popup {
  & .consult-form__title {
    @include bp(xs) {
      margin-bottom: 5px;
    }
  }

  & .consult-form__subtitle {
    margin-bottom: 24px;

    @include bp(xs) {
      margin-bottom: 16px;
    }
  }

  & .main-form .form-row.two-inputs {
    @include bp(xs) {
      flex-wrap: wrap;
    }
  }

  & .main-form .form-row.two-inputs.lg .input-wrapper {
    width: calc(51% - 1px);

    @include bp(xs) {
      width: calc(49% - 1px);
    }
  }

  & .main-form .form-row.two-inputs.lg .input-wrapper + .input-wrapper {
    width: calc(48% - 1px);
  }

  & .main-form .form-row.two-inputs.lg.lg--w100 .input-wrapper {
    @include bp(xs) {
      width: 100%;
    }
  }

  & .textarea {
    height: 140px;
    @include bp(xs) {
      height: 60px;
    }
  }

  & .checkbox-wrapper input:checked + label:after {
    @include bp(xs) {
      top: 4px;
      }

  }

  & .main-form .form-footer {
    margin-top: 20px;
  }


  & .checkbox-wrapper input + label {
    @include bp(xs) {
      padding-left: 41px;
    }
  }

  & .checkbox-wrapper input + label:before {
    @include bp(xs) {
      top: 0px;
    }
  }

  & .form-note {
    @include bp(xs) {
      display: none;
    }
  }

  & .main-form .checkbox-wrapper {
    max-width: 461px;
  }

}

.popup-title{
  display: block;
  text-align: center;
  font-family: $title;
  font-size: 30px;
  line-height: 100%;
  @include bp(xs) {
    font-size: 24px;
  }
}

.del-popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  max-width: calc(100vw - 30px);
  padding: 30px 38px 59px;
  background: #fff;
  border-radius: 3px;
  @include bp(xs) {
    padding: 30px 20px 60px;
  }
  .mfp-close {
    display: flex;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
    opacity: 1;
    @include bp(xs) {
      width: 10px;
      height: 10px;
      top: 12px;
      right: 13px;
    }
    &:after{
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include bp(xs) {
        width: 20px;
        height: 20px;
      }
    }
    &:hover{
      svg{
        path{
          fill: $accent;
        }
      }
    }
    svg {
      pointer-events: none;
    }
  }
  .popup-title{
    margin-bottom: 18px;
    @include bp(xs) {
      margin-bottom: 6px;
    }
  }
}

.del-popup__descr{
  font-size: 16px;
  line-height: 140%;
  color: $main;
  text-align: center;
  margin: 0 auto 18px;
  max-width: 400px;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.del-popup__item-name{
  display: block;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 40px;
  @include bp(xs) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.del-popup__footer{
  display: flex;
  justify-content: space-between;
  width: 456px;
  max-width: 100%;
  margin: 0 auto;
  .btn{
    width: calc(50% - 3px);
    @include bp(xs) {
      height: 40px;
      width: calc(50% - 5px);
    }
  }
}

.swal2-container.swal2-shown {
  background: rgba($main, 0.4);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: 10006;
}

.swal2-modal {
  background-color: #fff !important;
  width: 540px !important;
  max-width: calc(100vw - 30px);
  border-radius: 0;
  color: #fff;
  padding: 60px !important;

  @include bp(xs) {
    padding: 35px 15px 40px !important;

  }

  .swal2-icon {
    display: none !important;
  }

  .swal2-title {
    font-family: $title;
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    color: #000;

    @include bp(xs) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  .swal2-content {
    font-family: $default;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: $text;
  }

  .swal2-buttonswrapper {
    margin-top: 45px;

    @include bp(xs) {
      margin-top: 25px;
    }
  }

  .swal2-styled {
    margin: 0 auto;
    width: 220px;
    height: 60px;
    font-family: $default;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 140%;
    color: #fff;
    border: 1px solid;
    border-color: $main !important;
    background-color: $main !important;
    border-radius: 30px;
    outline: none !important;
    box-shadow: none !important;
    transition: linear 0.2s;

    @include bp(xs) {
      width: 190px;
      height: 50px;
      font-size: 16px;
    }

    &:hover {
      color: $main;
      background-color: transparent !important;
    }
  }
}
