.main-product {
  margin-top: 30px;
  margin-bottom: 130px;
  & + .review-section {
    background-color: #F9F9F9;
  }

  & .row {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-pic__main {
  position: relative;
  max-height: 680px;
  margin-bottom: 20px;
  //padding: 0 96px;
  //padding-top: 13px;
  //padding-bottom: 60px;
  border: 1px solid #E2E2E2;
  overflow: hidden;
  border-radius: 3px;

  & .slide {
    //display: flex !important;
    //justify-content: center;
    //align-items: center;
    cursor: zoom-in;


    & picture {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        //object-fit: contain;
        object-fit: cover;
        object-position: center;
      }
    }

  }

  & .slick-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    transition: background-color ease-in-out 0.2s;
    background-color: rgba(#fff, 0.1);

    &:hover {
      background-color: #000;

      & svg path {
        fill: #fff;
      }

      & svg line {
        stroke: #fff;
      }
    }

    &.slick-prev {
      right: 98px;
      bottom: 25px;
      z-index: 100;
      transform: rotate(-180deg);
    }

    &.slick-next {
      right: 25px;
      bottom: 25px;
    }

    &.slick-disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        background-color: transparent;

        & svg path {
          fill: #000;
        }

        & svg line {
          stroke: #000;
        }
      }
    }
  }

  & .slick-track {
    display: flex;
    align-items: start;
  }

}

.product-pic__small {
  position: relative;
  height: 260px;
  max-height: 260px;

  &:hover {
    & .slick-arrow {
      opacity: 1;
    }
  }

  & .slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 260px !important;
    margin-right: 20px;
    height: 260px;
    background: rgba(blue, 0.1);
    overflow: hidden;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    cursor: pointer;

    & picture {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
  }

  & .slick-slide.slick-current .slide {
    cursor: default;
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    width: 20px;
    height: 20px;
    font-size: 0;
    transition: background ease-in-out 0.2s, opacity ease-in-out 0.2s;
    opacity: 0;

    &:hover {
      background: rgba(0, 0, 0, 1);
    }

    &.slick-prev {
      left: 0;
      transform: translateY(-50%) rotate(-180deg);
    }

    &.slick-next {
      right: 0;
    }

    &.slick-disabled {
      pointer-events: none;
      opacity: 0;
    }
  }
}

// about

.product-about {
  padding-left: 50px;
}

.product-about__top {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
}

.product-about__top-title {
  display: block;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.product-about__top-list {
  margin-bottom: 21px;

  & > div {
    margin-bottom: 14px;

    & span {
      font-size: 16px;
      line-height: 140%;
      color: $text;

      &:first-child {
        color: #A3A3A3;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: -1px;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 12px;
          @include bp(xs) {
            left: -1px;
            top: -4px;
          }
        }
      }
    }
  }

  & > span {
    display: flex;

    align-items: center;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: $main;

    & svg {
      margin-right: 10px;
    }
  }
}

.product-about__top-buy {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  & > span {
    flex-shrink: 0;
    font-family: $title;
    font-size: 36px;
    line-height: 140%;
    color: #000000;
  }

  & > div {
    display: flex;
    gap: 30px;
    align-items: center;
    width: max-content;

    & a {
      width: 280px;
      max-width: 280px;
    }
  }
}

// details

.product-about__details {
  & > div {
    border-bottom: 1px solid #E2E2E2;
  }
}

.product-about__details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  cursor: pointer;
  transition: padding ease-in-out 0.2s;

  &.active {
    padding: 25px 0;

    & svg rect:nth-child(2) {
      opacity: 0;
    }
  }

  & span {
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: $main;
  }

  & i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-about__details-body {
  display: none;
  padding-top: 8px;
  padding-bottom: 34px;
  font-size: 16px;
  line-height: 140%;

  &.active {
    display: block;
  }

  & > strong,
  & > p {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    color: $text;
  }

  & p {
    margin: 10px 0;
    color: $gray;

    & + strong {
      margin-top: 20px;
    }
  }

}

.product-about__details-list {
  color: $gray;
  list-style-type: disc;
  padding-left: 30px;
  margin: 30px 0;

}

.product-about__details-list-dots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
  row-gap: 10px;

  & + strong {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  & li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    &:before {
      content: "";
      position: relative;
      bottom: 7px;
      order: -2;
      flex-shrink: 1;
      flex-grow: 1;
      margin: 0 7px;
      height: 100%;
      border-bottom: 1px dotted $gray;
    }

    & span {
      flex-shrink: 1;
      font-size: 16px;
      line-height: 140%;

      &:first-child {
        order: -3;
        color: $gray;
      }

      &:last-child {
        order: -1;
        color: $text;
      }
    }
  }
}

.product-about__details-list-line {
  margin: 30px 0;

  & li {
    + li {
      margin-top: 10px;
    }

    & span {
      &:first-child {
        color: $text
      }

      &:last-child {
        color: $gray;
      }
    }
  }

}

.product-about__details-list-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 55px;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;

    & img {

    }
  }
}







