// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$main: #CC950C;
$accent: #EDD18F;
$border: #B7A882;
$text: #464646;

$default: "FiraSansCondensed", -apple-system, BlinkMacSystemFont, sans-serif;
$italic: "FiraSansCondensed-Italic", -apple-system, BlinkMacSystemFont, sans-serif;
$title: "DMSerifDisplay", -apple-system, BlinkMacSystemFont, sans-serif;
$fira: "FiraSans", -apple-system, BlinkMacSystemFont, sans-serif;
$playfair: "PlayfairDisplay", -apple-system, BlinkMacSystemFont, sans-serif;

