<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <a href="javascript:void(0)" class="footer-logo">
                        <img src="../../images/footer-logo.png" class="lazy" alt="">
                    </a>
                    <div class="footer-info">
                        <span class="footer-title">Schweizer Edelmetallhandel</span>
                        <div>
                            <div>
                                <span>Alte Haslen Str. 10 3053 Teufen</span>
                            </div>
                            <div>
                                <a href="tel:+41715434294">Tel. 071-5434294</a>
                                <a href="mailto:info@schweizer-edelmetallhandel.ch">E-Mail:
                                    info@schweizer-edelmetallhandel.ch</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-menu">
                        <span>Goldkauf Themen</span>
                        <ul>
                            <li><a href="javascript:void(0)">Schmuck</a></li>
                            <li><a href="javascript:void(0)">Münzen</a></li>
                            <li><a href="javascript:void(0)">Luxusuhren</a></li>
                            <li><a href="javascript:void(0)">Diamanten</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <span>Über Uns</span>
                        <ul>
                            <li><a href="javascript:void(0)">Kontakt</a></li>
                            <li><a href="javascript:void(0)">Über uns</a></li>
                            <li><a href="javascript:void(0)">Impressum</a></li>
                            <li><a href="javascript:void(0)">Datenschutz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="footer-copyright">© Copyright Goldankauf Heinrich Bott</div>
        </div>
    </div>
</footer>
<div class="mfp-hide">
    <div class="popup investment-popup" id="investment-popup">
        <button title="Close (Esc)" type="button" class="mfp-close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 1.4L14.6 0L8 6.6L1.4 0L0 1.4L6.6 8L0 14.6L1.4 16L8 9.4L14.6 16L16 14.6L9.4 8L16 1.4Z" fill="#B7A882"/>
            </svg>

        </button>
        <div class="content">
            <div class="consult-form">
                <span class="consult-form__title">Anfrage für Anlagegold senden</span>
                <span class="consult-form__subtitle">* Markierte Felder sind Pflichtfelder</span>
                <form  action="https://triplefork.com.ua/test.php"

                    class="main-form ajax_form clear-styles" data-error-title="Fehler senden!"
                      data-error-message="Versuchen Sie es nach einer Weile erneut."
                      data-success-title="Danke für die Nachricht."
                      data-success-message="Unser Manager wird sich bald mit Ihnen in Verbindung setzen.">
                    <div class="form-row two-inputs lg lg--w100">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="name" data-title="Name" value="100 g. Heraeus Goldbarren">
<!--                            <label>Ihr Name <span>*</span></label>-->
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="name" data-title="Name" data-validate-required="Erforderlich!">
                            <label>Name <span>*</span></label>
                        </div>
                    </div>
                    <div class="form-row two-inputs lg ">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="email" data-title="E-mail" data-validate-required="Erforderlich!">
                            <label>E-mail <span>*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="telefon" data-title="Telefon">
                            <label>Telefon</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-wrapper">
                                <textarea class="textarea" name="anmerkungen" data-title="Anmerkungen" data-validate-required="Erforderlich!"></textarea>
                            <label>Ihre Nachricht <span>*</span></label>
                        </div>
                    </div>
                    <small class="form-note">* Markierte Felder sind Pflichtfelder</small>
                    <div class="form-footer">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="agreement01" name="agreement" data-title="Agreement"
                                   value="">
                            <label for="agreement01">Hiermit bin ich mit der Speicherung und Verarbeitung meiner Daten im Sinne der  <a href="javascript:void(0)">Datenschutzerklärung</a>
                                 einverstanden *</label>
                        </div>
                        <button type="submit" class="btn" data-sending="Senden..." data-error="Fehler :("
                                data-sent="Gesendet" disabled>Senden
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
